.s-field-select {
  display: block;
  margin-bottom: 1rem;

  &__name {
    @include field-name;
  }

  &__input-wrap {}

  &__select {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    line-height: $line-height;
    font-size: inherit;
    font-family: inherit;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    appearance: none;
    background-color: #fff;
    background-image: svg-load('../blocks/field-select/img/select-down.svg');
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
    background-size: 6px 8px;

    &[multiple] {
      background-image: none;
      min-height: 6.8em;
    }

    &::-ms-expand {
      display: none;
    }

    &:active,
    &:focus {
      @include field-focus;
    }

    &[disabled],
    &[readonly] {
      cursor: default;
      background-color: $gray-lightest;
    }
  }

  &__help-text {
    @include field-help-text;
  }
}
