.s-subscription {

  &__desc {
    font-weight: 800;
    color: currentColor;
    font-size: 0.875rem;
    margin-bottom: 1.5rem;
  }

  [type='email'] {
    background-color: $bg-color--default;
    border: 0;
    border-radius: 0;
    font-style: italic;
    font-size: 0.875rem;
    padding: 0.5rem 0.75rem;
    text-align: center;

    @media (min-width: $screen-md) {
      text-align: left;
    }
  }

  [type='submit'] {
    width: 100%;
  }
}