mixin subscription()

  //- Use
    +subscription()

  .s-subscription
    p.s-subscription__desc Хотите получать выгодные предложения от сайти и узнавать о новинках первыми?
    +form()
      +field-text({
        attrs: {
          placeholder: 'Ваш Email',
          type: 'email'
        }
      })
      +field-actions()
        +btn('Получать рассылку')(type='submit')