.s-main-nav {

  $block-name:                &; // #{$block-name}__element

  position: relative;
  z-index: 10;

  // First level
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    // Mobile view
    @media (max-width: ($screen-md - 1)) {

      .js & {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.2s;
      }

      .js #{$block-name}--open & {
        max-height: 100vh;
        transition: max-height 0.6s;
      }
    }

    // Desktop view
    @media (min-width: $screen-md) {
      display: flex;
      flex-wrap: wrap;

      &--lvl-2 {
        display: block;
      }

      &--lvl-3 {
        display: block;
      }
    }
  }

  &__item {
    position: relative;

    @media (min-width: $screen-lg) {
      font-size: 1.25rem;
    }

    &--accent {
      background-color: $accent-color-main;
      color: $text-color--lightest;
    }

    &--active {

      & > #{$block-name}__link {
        color: #000;
      }
    }
  }

  &__link {
    display: block;
    text-decoration: none;
    padding: 0.9rem 1.5rem 1.1rem;
    color: currentColor;

    &:hover,
    &:focus {
      text-decoration: none;
    }

    &--lvl-2 {

      @media (min-width: $screen-md) {
        padding-left: 1.2em;
      }
    }

    &--lvl-3 {

      @media (min-width: $screen-md) {
        padding-left: 2.4em;
      }
    }
  }

  &__sublist-wrapper {
    min-width: 200px;
    background: $bg-color--default;
    transition: opacity 0.25s ease 0s;

    &--lvl-2 {

      @media (min-width: $screen-md) {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1;
        opacity: 0;
        height: 0;
        overflow: hidden;
        transition: opacity 0.5s;

        #{$block-name}__item--show-child > &,
        #{$block-name}__item:hover & {
          opacity: 1;
          height: auto;
          overflow: visible;
        }
      }
    }

    &--lvl-3 {

      @media (min-width: $screen-md) {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 100%;
        opacity: 0;
        height: 0;
        overflow: hidden;
        transition: opacity 0.5s;

        #{$block-name}__item--show-child > &,
        #{$block-name}__item--lvl-2:hover & {
          opacity: 1;
          height: auto;
          overflow: visible;
        }
      }
    }
  }
}
