-
  var mainMenu = [
    {
      "id": "0",
      "name": "Акции",
      "url": "/"
    },
    {
      "id": "10",
      "name": "Фотобанк",
      "url": "/",
      "childs": [
        {
          "id": "10-0",
          "name": "О компании",
          "url": "/"
        },
        {
          "id": "10-10",
          "name": "Услуги",
          "url": "/",
          "childs": [
            {
              "id": "10-10-0",
              "name": "Секс",
              "url": "/"
            },
            {
              "id": "10-10-10",
              "name": "Рок н ролл",
              "url": "/"
            }
          ]
        },
        {
          "id": "10-20",
          "name": "Ещё одна страница",
          "url": "/"
        },
      ]
    },
    {
      "id": "20",
      "name": "Каталог",
      "url": "/"
    },
    {
      "id": "30",
      "name": "Информация",
      "url": "/"
    },
    {
      "id": "30",
      "name": "Контакты",
      "url": "/"
    }
  ];
