mixin main-nav()

  //- Use:
    +main-nav()

  //- Include info
  include main-nav-data.pug

  nav.s-main-nav#nav&attributes(attributes)
    ul.s-main-nav__list
      each menuItem in mainMenu
        +s-main-nav-item(selectedID, menuItem, 1)

          if (typeof(menuItem.childs) !== 'undefined' && menuItem.childs)
            +s-main-nav-sublist-wrapper(2)
              each menuItem2 in menuItem.childs
                +s-main-nav-item(selectedID, menuItem2, 2)

                  if (typeof(menuItem2.childs) !== 'undefined' && menuItem2.childs)
                    +s-main-nav-sublist-wrapper(3)
                      each menuItem3 in menuItem2.childs
                        +s-main-nav-item(selectedID, menuItem3, 3)

mixin s-main-nav-item(selectedID, item, level)
  -
    var thisItemClass = 's-main-nav__item';
    var thisLinkClass = 's-main-nav__link';
    if(selectedID == item.id) {
      thisItemClass += '  s-main-nav__item--active';
    }
    if(item.childs) {
      thisItemClass += '  s-main-nav__item--has-child';
    }
    if(level > 1) {
      thisItemClass += '  s-main-nav__item--lvl-' + level;
      thisLinkClass += '  s-main-nav__link--lvl-' + level;
    }

  li(class= thisItemClass)
    a(class= thisLinkClass, href=item.url)= item.name
    block

mixin s-main-nav-sublist-wrapper(level)
  -
    var divClass = 's-main-nav__sublist-wrapper  s-main-nav__sublist-wrapper--lvl-' + level;
    var listClass = 's-main-nav__list  s-main-nav__list--lvl-' + level;
  div(class= divClass)
    ul(class= listClass)
      block
