.s-full-product-info {
  padding-bottom: 2rem;

  &__category-name,
  &__title,
  &__vendor-code,
  &__price,
  &__actions {
    margin-bottom: 0.5rem;
  }

  &__category-name {
    font-size: $font-size--small;
  }

  &__category-name,
  &__vendor-code {
    color: $text-color--lighter;
  }

  &__title,
  &__price  {
    font-size: 1.5rem;
    font-weight: 700;
  }

  &__vendor-code {
    font-size: 0.875rem;
  }

  &__share {

    span {
      font-weight: 700;
      color: $text-color--lighter;
    }
  }

  &__share-list {
    display: inline-block;
    margin-left: 0.5rem;
  }

  &__share-item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 0.25rem;
    }
  }

  &__share-link {
    color: currentColor;

    svg {
      fill: currentColor;
    }
  }

  &__specifications {
    margin: 1rem 0;
  }

  &__specifications-list {
    margin: 0;
  }

  &__specifications-item {
    position: relative;
    padding-top: 4rem;
    display: inline-block;
    font-size: $font-size--small;
    color: #625f5f;
    text-align: center;
    vertical-align: top;

    &:not(:last-child) {
      margin-right: 5vw;
    }

    &::before {
      position: absolute;
      content: '';
      background-repeat: no-repeat;
      background-position: center;
      width: 3rem;
      height: 3rem;
      top: 0;
      left: 50%;
      transform: translate3d(-50%,0,0);
    }

    span {
      font-weight: 700;
      display: block;
      margin-bottom: 0.25rem;
    }

    &--size {

      &::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 45 45'%3E%3Cg fill-rule='nonzero'%3E%3Cpath d='M42.9448923 36.3854883h-9.5076036c-.3567753 0-.6460199.2951367-.6460199.6591797 0 .3640429.2892446.6591797.6460199.6591797h9.5076036c.0237735 0 .043068.0196875.043068.0439453v5.5374609c0 .0242578-.0192945.0439453-.043068.0439453h-2.3250686v-2.8372851c0-.364043-.2892446-.6591797-.6460199-.6591797-.3567752 0-.6460198.2951367-.6460198.6591797v2.8372851h-1.4411412v-1.2283594c0-.3640429-.2892446-.6591796-.6460198-.6591796-.3567753 0-.6460199.2951367-.6460199.6591796v1.2283594h-1.441055v-1.2283594c0-.3640429-.2892446-.6591796-.6460199-.6591796-.3567752 0-.6460198.2951367-.6460198.6591796v1.2283594h-1.441055v-1.2283594c0-.3640429-.2892446-.6591796-.6460199-.6591796-.3567752 0-.6460199.2951367-.6460199.6591796v1.2283594h-1.4410549v-2.8372851c0-.364043-.2892447-.6591797-.6460199-.6591797-.3567753 0-.6460199.2951367-.6460199.6591797v2.8372851h-1.4412272v-1.2283594c0-.3640429-.2892447-.6591796-.6460199-.6591796-.3567753 0-.6460199.2951367-.6460199.6591796v1.2283594h-1.441055v-1.2283594c0-.3640429-.2892446-.6591796-.6460198-.6591796-.3567753 0-.6460199.2951367-.6460199.6591796v1.2283594h-1.441055v-1.2283594c0-.3640429-.2892446-.6591796-.6460199-.6591796-.3567752 0-.6460198.2951367-.6460198.6591796v1.2283594h-1.4411412v-2.8372851c0-.364043-.2892446-.6591797-.6460198-.6591797-.3567753 0-.6460199.2951367-.6460199.6591797v2.8372851h-1.3705957v-5.6253515h14.7079774c.3567752 0 .6460198-.2951368.6460198-.6591797 0-.364043-.2892446-.6591797-.6460198-.6591797H15.7255772c-.2435064-.2626172-.5871889-.4275879-.9686852-.4275879H9.6245656c-.02377353 0-.04306799-.0196875-.04306799-.0439453v-5.236875c0-.3804785-.15401114-.7245703-.40130754-.9719824v-5.7717774c0-.364043-.28924463-.6591797-.64601987-.6591797-.35677524 0-.64601987.2951367-.64601987.6591797v5.3814551H2.3751029v-1.1858203h2.78064179c.35677524 0 .64601987-.2951367.64601987-.6591797 0-.364043-.28924463-.6591797-.64601987-.6591797H2.3751029v-1.4704102h1.2038365c.35677524 0 .64601987-.2951367.64601987-.6591796 0-.364043-.28924463-.6591797-.64601987-.6591797H2.3751029v-1.4704981h1.2038365c.35677524 0 .64601987-.2951367.64601987-.6591797 0-.3640429-.28924463-.6591796-.64601987-.6591796H2.3751029v-1.4704102h1.2038365c.35677524 0 .64601987-.2951367.64601987-.6591797 0-.364043-.28924463-.6591797-.64601987-.6591797H2.3751029v-1.4704101h2.78064179c.35677524 0 .64601987-.2951368.64601987-.6591797 0-.364043-.28924463-.6591797-.64601987-.6591797H2.3751029v-1.4704981h1.2038365c.35677524 0 .64601987-.2951367.64601987-.6591796 0-.364043-.28924463-.6591797-.64601987-.6591797H2.3751029v-1.4704102h1.2038365c.35677524 0 .64601987-.2951367.64601987-.6591797 0-.3640429-.28924463-.6591797-.64601987-.6591797H2.3751029V8.60739258h1.2038365c.35677524 0 .64601987-.29513672.64601987-.65917969 0-.36404297-.28924463-.65917969-.64601987-.65917969H2.3751029V5.81862305h2.78064179c.35677524 0 .64601987-.29513672.64601987-.65917969 0-.36404297-.28924463-.65917969-.64601987-.65917969H2.3751029V1.36230469c0-.02425781.01929446-.04394531.043068-.04394531h5.42691144c.02377353 0 .04306799.0196875.04306799.04394531V21.242373c0 .364043.28924463.6591797.64601987.6591797.35677524 0 .64601987-.2951367.64601987-.6591797V1.36230469C9.18019007.61110352 8.58128658 0 7.84508234 0H2.4181709c-.73620425 0-1.33510773.61110352-1.33510773 1.36230469V29.7461426C.85867893 29.9899512.72 30.3169922.72 30.6770801v12.9606152C.72 44.3888965 1.31890349 45 2.05510773 45h1.64080433c.35677524 0 .64601987-.2951367.64601987-.6591797 0-.364043-.28924463-.6591797-.64601987-.6591797H2.05510773c-.02377353 0-.04306799-.0196875-.04306799-.0439453V30.6770801c0-.0242578.01929446-.0439453.04306799-.0439453h6.19128215c.02377353 0 .04306799.0196875.04306799.0439453v5.236875c0 .7512012.59890349 1.3623047 1.33510773 1.3623047h5.1323264c.0237735 0 .043068.0196875.043068.0439453v6.3174902c0 .0242578-.0192945.0439453-.043068.0439453H6.33313744c-.35677524 0-.64601987.2951367-.64601987.6591797 0 .364043.28924463.6591797.64601987.6591797H14.756892c.3435103 0 .6560116-.134209.8928856-.3523535h27.2951147c.7362042 0 1.3351077-.6111035 1.3351077-1.3623047v-5.5374609c0-.7512891-.5989035-1.3623926-1.3351077-1.3623926z'/%3E%3Cpath d='M6.044 38.1521739c-1.33442755 0-2.42 1.0970796-2.42 2.4456522s1.08557245 2.4456522 2.42 2.4456522 2.42-1.0971793 2.42-2.4456522c0-1.3485726-1.08557245-2.4456522-2.42-2.4456522zm0 3.3961023c-.51862075 0-.94048095-.4264316-.94048095-.9504501 0-.5241182.4218602-.9504501.94048095-.9504501s.94048095.4263319.94048095.9504501-.4218602.9504501-.94048095.9504501zM11.6442091 39.1304348H9.15579094c-.38205308 0-.69179094.219-.69179094.4891304 0 .2701305.30973786.4891305.69179094.4891305h2.48841816c.382053 0 .6917909-.219.6917909-.4891305 0-.2701304-.3097379-.4891304-.6917909-.4891304z'/%3E%3C/g%3E%3C/svg%3E");
      }
    }

    &--fabric {

      &::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 38 45'%3E%3Cg fill-rule='nonzero'%3E%3Cpath d='M1.66313333 27.6769565C1.482 27.495 1.23061538 27.3913043.97435897 27.3913043c-.2562564 0-.50764102.1036957-.6888718.2856522C.10425642 27.8598913 0 28.1113043 0 28.3695652c0 .2572826.10415897.5086957.28548718.6916305.1813282.1819565.43271282.2866304.6888718.2866304.2562564 0 .50764102-.1046739.68877435-.2866304.18123077-.1829348.28558462-.4343479.28558462-.6916305 0-.2582609-.10425641-.5096739-.28558462-.6926087z'/%3E%3Cpath d='M35.3853091 0H2.61469089C1.17295033 0 0 1.18283203 0 2.63671875V25.4589258c0 .4854199.3902862.8789062.87156363.8789062.48127744 0 .87156363-.3934863.87156363-.8789062v-4.059668l.0095872.0065918c3.51353447 2.4102246 6.15175758 5.8080762 7.62914509 9.8262598 1.92249505 5.2282617 5.67292055 9.4783008 10.50600235 12.0098144H9.8790866l-.73882449-.7914551c-1.78984307-1.917246-2.77558154-4.4231835-2.77558154-7.0562988 0-.4854199-.39028619-.8789062-.87156363-.8789062-.48127744 0-.87156363.3934863-.87156363.8789062 0 2.896875 1.01929367 5.6622656 2.88104074 7.847666H2.61469089c-.48058018 0-.87156363-.3942773-.87156363-.8789062V31.9296094c0-.4854199-.39028619-.8789063-.87156363-.8789063C.3902862 31.0507031 0 31.4441895 0 31.9296094v10.4334082c0 1.4538867 1.17295033 2.6367187 2.61469089 2.6367187H24.3127033c.0020046 0 .0040092.0002637.0060138.0002637.0021789 0 .0043578-.0002637.0066238-.0002637h11.0599682C36.8270497 44.9997363 38 43.8169043 38 42.3630176V2.63671875C38 1.18283203 36.8270497 0 35.3853091 0zm.8716508 10.8195117c-.8706921-.4980762-1.8451874-.7631543-2.8589902-.7631543-1.6563195 0-3.2092716.7045313-4.372809 1.9837793-2.3548778 2.5892578-2.3548778 6.8023828 0 9.3916406 1.1635374 1.2792481 2.7164895 1.9838672 4.372809 1.9838672 1.0137157 0 1.9882981-.265166 2.8589902-.7631543v8.4728321c-.6821729.9195996-1.426401 1.7436621-2.2162992 2.4493359-.3603044.3218555-.3936853.8773242-.0744315 1.2406641.1723081.1960839.4119881.2961035.652714.2961035.2054276 0 .4117267-.0728613.5775852-.2210449.3630934-.3243164.7168611-.6707813 1.0604315-1.03667v8.5093067c-.0000872.4846289-.3910706.8789062-.8716508.8789062H24.4688003l-1.1835834-.4233691C17.5892 40.7811621 13.1174684 36.3352148 11.0163028 30.620918c-1.60402568-4.362627-4.46841955-8.0516602-8.28316641-10.6686035l-.98992197-.679043V2.63671875c0-.48462891.39098344-.87890625.87156363-.87890625h1.32974463c1.04997271 2.25773438 1.60454865 4.75514648 1.60454865 7.24833984v2.33525386c0 .48542.39028619.8789063.87156363.8789063.48127743 0 .87156363-.3934863.87156363-.8789063V9.00615234c0-2.47790039-.49705274-4.95958007-1.44235065-7.24833984h9.24572126c-2.8584672 4.0481543-4.4313781 9.3709863-4.4313781 15.0181348 0 5.727832 1.6172735 11.122998 4.5537457 15.1918945 2.9972202 4.1530078 7.0086789 6.4401855 11.2953775 6.4401855.4812774 0 .8715636-.3934863.8715636-.8789062 0-.4854199-.3902862-.8789063-.8715636-.8789063-3.7146042 0-7.2253497-2.0302734-9.885972-5.7167578-5.6340488-7.8064453-5.6340488-20.5086621.0000872-28.31519528.2136202-.29601563.435346-.5840332.6614296-.86053711h18.0965372c.4805801 0 .8715636.39427734.8715636.87890625v8.18288084zm-.0000872 2.1756445v7.4819532c-.7973064.7631543-1.8007376 1.1808984-2.8589901 1.1808984-1.1619687 0-2.2587443-.502207-3.0881243-1.4141601-1.7590769-1.9341211-1.7590769-5.0812207 0-7.0154297.82938-.9119532 1.9261556-1.4141602 3.0881243-1.4141602 1.0582525.0000879 2.0616837.4177442 2.8589901 1.1808984z'/%3E%3Cpath d='M27.2313074 4.49620632c-.158274-.45978911-.6390419-.69690525-1.0734162-.52943533-1.6978869.65428459-3.2609478 1.82125752-4.5201895 3.37465178-.3011394.37144651-.2606079.93083148.090526 1.24946737.1579391.14336842.3518039.21345769.5447475.21345769.2359037 0 .4704675-.10491238.6361109-.3092434 1.0722438-1.32283514 2.3937903-2.31294566 3.8218576-2.86311535.4345418-.16746992.658554-.67599366.5003637-1.13578276zM31.1778669 29.2913054c-.0304192-.5391463-.4832308-.9503016-1.0194781-.920186l-.0172858.0009778c-.532481.0308977-.9393259.4929952-.9087135 1.0321415.0294535.5200796.4552259.9218483.963275.9218483.0185412 0 .0373721-.0005867.0562031-.0016623l.0172858-.0009777c.532481-.0308978.9393259-.4929953.9087135-1.0321416zM27.6323332 27.6256475c-1.6858178-.5017931-3.2349688-1.5426403-4.4799232-3.0099677-2.8242729-3.3287074-3.6758321-8.3086744-2.1693678-12.6871048.1576189-.4583806-.0820696-.9592949-.535539-1.1187086-.4541649-.1594138-.9490169.0829584-1.1067227.5414268-1.7059005 4.9581729-.7277593 10.6138469 2.4918214 14.4086682 1.4642124 1.7256938 3.2998246 2.9538126 5.3086176 3.551834.0819827.0244306.1646609.0360307.2459481.0360307.3756598 0 .7221952-.2480844.83365-.6308005.1355365-.4656746-.1278861-.9542857-.5884844-1.0913781z'/%3E%3C/g%3E%3C/svg%3E");
      }
    }

    &--laying {

      &::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 39 44'%3E%3Cg fill-rule='nonzero'%3E%3Cpath d='M10.7249702 0H.97502983C.43685704 0 0 .4261755 0 .9513844v33.2972312C0 34.7737372.43676754 35.2.97502983 35.2h9.74994037c.5381728 0 .9750298-.4261755.9750298-.9513844V.9513844C11.6999105.4261755 11.263143 0 10.7249702 0zm-.97502987 33.2973185H1.94997017V1.90268146h7.79997016V33.2973185z'/%3E%3Cpath d='M19.4999702 4.88888889H9.75002983c-.53817279 0-.97502983.41715509-.97502983.93124746V43.0687525c0 .5140069.43676754.9312475.97502983.9312475h9.74994037c.5381728 0 .9750298-.4171551.9750298-.9312475V5.82013635c0-.51409237-.436857-.93124746-.9750298-.93124746zm-.9750299 37.24861621h-7.7999701V6.75129833h7.7999701V42.1375051z'/%3E%3Cpath d='M29.2499702 0h-9.7499404C18.961857 0 18.525.4261755 18.525.9513844v33.2972312c0 .5251216.4367675.9513844.9750298.9513844h9.7499404c.5381728 0 .9750298-.4261755.9750298-.9513844V.9513844C30.225.4261755 29.788143 0 29.2499702 0zm-.9749404 33.2973185h-7.7999701V1.90268146h7.7999701V33.2973185z'/%3E%3Cpath d='M38.0249702 4.88888889h-9.7499404c-.5381728 0-.9750298.41715509-.9750298.93124746V43.0687525c0 .5140069.4367675.9312475.9750298.9312475h9.7499404C38.563143 44 39 43.5828449 39 43.0687525V5.82013635c0-.51409237-.4367675-.93124746-.9750298-.93124746zm-.9749404 37.24861621h-7.7999701V6.75129833h7.7999701V42.1375051zM3.4125 2.93333333c-.26912291 0-.4875.19909687-.4875.44445928v8.88885919c0 .2453624.21837709.4444593.4875.4444593s.4875-.1990969.4875-.4444593V3.37779261c0-.24536241-.21846659-.44445928-.4875-.44445928zM5.3625 16.6222222c-.26912291 0-.4875.182505-.4875.4074199v4.0740491c0 .224915.21837709.4074199.4875.4074199s.4875-.1825049.4875-.4074199v-4.0740491c0-.2249149-.21846659-.4074199-.4875-.4074199zM5.3625 26.4c-.26912291 0-.4875.1873339-.4875.4190586v2.0952161c0 .2317247.21837709.4190586.4875.4190586s.4875-.1873339.4875-.4190586v-2.0952161C5.85 26.5873339 5.63153341 26.4 5.3625 26.4zM5.3625 4.88888889c-.26912291 0-.4875.18250495-.4875.40741987V9.3703579c0 .22491492.21837709.40741988.4875.40741988s.4875-.18250496.4875-.40741988V5.29630876c0-.22491492-.21846659-.40741987-.4875-.40741987zM17.0625 6.84444444c-.2691229 0-.4875.21089534-.4875.4707979V19.0847577c0 .2599025.2183771.4707979.4875.4707979s.4875-.2108954.4875-.4707979V7.31524234c0-.25990256-.2183771-.4707979-.4875-.4707979zM15.1125 12.7111111c-.2691229 0-.4875.182505-.4875.4074199v4.0740491c0 .2249149.2183771.4074199.4875.4074199s.4875-.182505.4875-.4074199V13.118531c0-.2249149-.2183771-.4074199-.4875-.4074199zM13.1625 23.4666667c-.2691229 0-.4875.2057012-.4875.4601456v6.901931c0 .2544444.2183771.4601456.4875.4601456s.4875-.2057012.4875-.4601456v-6.901931c0-.2544444-.2183771-.4601456-.4875-.4601456zM15.1125 26.4c-.2691229 0-.4875.2104632-.4875.4707979v11.7695153c0 .2603347.2183771.4707979.4875.4707979s.4875-.2104632.4875-.4707979V26.8707979c0-.2603347-.2183771-.4707979-.4875-.4707979zM23.8875 2.93333333c-.2695704 0-.4875.18250496-.4875.40741988v4.07404914c0 .22491492.2179296.40741987.4875.40741987s.4875-.18250495.4875-.40741987V3.34075321c0-.22491492-.2179296-.40741988-.4875-.40741988zM25.8375 9.77777778c-.2695704 0-.4875.21900678-.4875.48890572v14.666633c0 .2703477.2179296.4889057.4875.4889057s.4875-.218558.4875-.4889057v-14.666633c0-.26989894-.2179296-.48890572-.4875-.48890572zM23.8875 12.7111111c-.2695704 0-.4875.1877186-.4875.4190586v2.0952161c0 .2313401.2179296.4190586.4875.4190586s.4875-.1877185.4875-.4190586v-2.0952161c0-.23134-.2179296-.4190586-.4875-.4190586zM21.9375 16.6222222c-.2695704 0-.4875.2108954-.4875.4707979v11.7695153c0 .2603348.2179296.4707979.4875.4707979s.4875-.2104631.4875-.4707979V17.0930201c0-.2599025-.2179296-.4707979-.4875-.4707979z'/%3E%3Cpath d='M31.6875 30.3111111c-.2695704 0-.4875.1986889-.4875.4444593v8.8888592c0 .2457704.2179296.4444593.4875.4444593s.4875-.1986889.4875-.4444593v-8.8888592c0-.2457704-.2179296-.4444593-.4875-.4444593zM33.6375 26.4c-.2695704 0-.4875.1986889-.4875.4444593v8.8888592c0 .2457704.2179296.4444593.4875.4444593s.4875-.1986889.4875-.4444593v-8.8888592c0-.2457704-.2179296-.4444593-.4875-.4444593zM31.6875 12.7111111c-.2695704 0-.4875.1877186-.4875.4190586v2.0952161c0 .2313401.2179296.4190586.4875.4190586s.4875-.1877185.4875-.4190586v-2.0952161c0-.23134-.2179296-.4190586-.4875-.4190586zM35.5875 16.6222222c-.2695704 0-.4875.2061236-.4875.4601456v6.901931c0 .2544444.2179296.4601456.4875.4601456s.4875-.2057012.4875-.4601456v-6.901931c0-.254022-.2179296-.4601456-.4875-.4601456z'/%3E%3C/g%3E%3C/svg%3E");
      }
    }
  }
}