.s-table {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  overflow-x: auto;

  table {
    margin: 0;
    border: 0;
    border-collapse: collapse;
    width: 100%;
  }

  thead,
  tbody {
    border-bottom: 1px solid $border-color;
    word-break: normal;

    td,
    th {
      padding: 1.5rem 0;
      vertical-align: middle;
      text-align: center;

      &:first-child {
        text-align: left;
      }
    }
  }

  tfoot {
    text-align: center;
  }

  th {
    font-size: $font-size--small;
    color: $text-color--lighter;
  }

  caption {
    caption-side: top;
    text-align: left;
    padding: 0.5rem;
    border-bottom: 1px solid $border-color;
    font-size: $font-size--small;
    line-height: 1em;
    color: $text-color--lighter;
  }
}