mixin table(mods)

  //- Param:
    mods  {string} - modifiers

  //- Use:
    +table()
      caption ...
      tr
        th ...
        th ...
      tr
        td ...
        td ...

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-table--' + modsList[i].trim();
      }
    }

  .s-table(class=allMods)&attributes(attributes)
    table
      block
