.s-promo {
  color: $text-color--lightest;
  text-align: center;

  @media (min-width: $screen-md) {
    text-align: left;
  }

  &__slide {
    height: 300px;
    outline: none;
    overflow: hidden;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  &__slide-content {
    padding-top: 10vh;
    z-index: 3;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
  }

  &__title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;

    @media (min-width: $screen-md) {
      font-size: 3rem;
    }
  }

  &__desc {
    font-size: $font-size--small;
    max-width: 20em;
    margin: auto;

    @media (min-width: $screen-md) {
      font-size: 1.5rem;
      margin: 0;
    }
  }

  #promo-slider {

    .slick-prev,
    .slick-next {
      position: absolute;
      top: 50%;
      z-index: 2;
      background-color: rgba($bg-color--default, 0.25);
      width: 40px;
      height: 40px;
      border-radius: 30px;
      transform: translate3d(0,-50%,0);
      cursor: pointer;

      @media (min-width: $screen-sm) {
        width: 60px;
        height: 60px;
      }

      svg {
        vertical-align: middle;
        width: 12px;
        height: 28px;

        @media (min-width: $screen-sm) {
          width: 20px;
          height: 36px;
        }
      }
    }

    .slick-prev {
      left: 1.5rem;

      @media (min-width: $screen-sm) {
        left: 3rem;
      }

      svg {
        transform: translate3d(0,0.09rem,0);
      }
    }

    .slick-next {
      right: 1.5rem;

      @media (min-width: $screen-sm) {
        right: 3rem;
      }

      svg {
        transform: rotate3d(0, 0, 1, 180deg);
      }
    }
  }
}