mixin promo()

  //- Use:
    +promo()

  section.s-promo
    +slick-carousel('promo-slider')
      div.s-promo__slide
        img(src='https://images.unsplash.com/photo-1462721206848-c6bdea1a8d61?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2ff920e32dd67b91d27e1d4867a41e4d&auto=format&fit=crop&w=1567&q=80', alt='')
        .s-promo__slide-content.container
          h1.s-promo__title Специальное предложение
          p.s-promo__desc Описание товара в нескольких словах возможно в две строчки
      div.s-promo__slide
        img(src='https://images.unsplash.com/reserve/iouSxcS5QpKPdPTSiPu2_streetmeetnyc%20(1%20of%201)-23.jpg?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=27db54ca70377ae5da12bbc45a184093&auto=format&fit=crop&w=1650&q=80', alt='')
        .s-promo__slide-content.container
          h1.s-promo__title Второе специальное предложение
          p.s-promo__desc Описание товара в нескольких словах возможно в две строчки