.s-news-card {
  background-color: $bg-color--default;

  &__inner {
    padding: 0.75rem;
  }

  &__cover {
    background-color: $bg-color--darker;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-image: url(https://78.media.tumblr.com/9dc90f48d52b6319faa4007b879e6369/tumblr_p5boiyLfJ01qigaa4o1_1280.jpg);
    height: 10rem;
  }

  &__content {

    time,
    a {
      font-size: 9px;
      color: currentColor;
    }

    p {
      font-size: 10px;
      margin-bottom: 0.25rem;
    }

    a {
      font-weight: 600;
      text-decoration: underline;

      &:hover,
      &:focus {
        color: #1c42ff;
      }

      &:active {
        color: #b8b8b8;
      }
    }
  }

  &__title {
    font-weight: 700;
    font-size: 0.875rem;
    margin-bottom: 0.25rem;
  }

  &--text-with-cover {

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    .s-news-card__inner {
      width: 100%;

      &::after {
        clear: both;
        display: table;
        content: '';
      }
    }

    .s-news-card__cover,
    .s-news-card__content {

      @media (min-width: $screen-md) {
        float: left;
      }
    }

    .s-news-card__cover {

      @media (min-width: $screen-md) {
        width: 12rem;
      }
    }

    .s-news-card__content {

      @media (min-width: $screen-md) {
        width: calc(100% - 12rem);
        padding-left: 1rem;
        padding-right: 2rem;
      }
    }
  }
}