mixin news-card(date, title, text, href, mods)

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods.trim() + ' s-news-card--' + modsList[i].trim();
      }
    }

  .s-news-card(class=allMods)&attributes(attributes)
    .s-news-card__inner
      .s-news-card__cover
      .s-news-card__content
        time(datetime='2018-07-10T00:00') #{date}
        h3.s-news-card__title #{title}
        p #{text}
        a(href=href) Подробнее

