mixin testimonial-card(author, date, text, href)

  .s-testimonial-card
    .s-testimonial-card__inner
      .s-testimonial-card__author!= author
      time.s-testimonial-card__date(datetime='2018-07-10T00:00') #{date}
      p.s-testimonial-card__text!= text
      a.s-testimonial-card__full-version(href=href) Читать весь отзыв