.s-testimonial-card {
  border-bottom: 1px solid $border-color;

  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  &__inner {
    padding: 1rem 0;
  }

  &__author {
    font-size: 0.875rem;
    font-weight: 600;
    margin-bottom: 0.25rem;
  }

  &__date {
    font-size: 10px;
    margin-bottom: 0.25rem;
  }

  &__text {
    font-size: 12px;
    margin-bottom: 0.25rem;
  }

  &__full-version {
    font-size: 10px;
    text-decoration: underline;
    color: currentColor;
    font-weight: 600;

    &:hover,
    &:focus {
      color: #1c42ff;
    }
  }
}