.s-pagination {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: 600;

  &__list {
    list-style-type: none;
    margin: 0;
    display: inline-block;

    &:after {
      display: table;
      content: '';
      clear: both;
    }
  }

  &__item {
    margin: 0;
    text-align: center;
    float: left;
    vertical-align: bottom;
    border: 1px solid $border-color;
    color: $text-color--lighter;
    background-color: $bg-color--default;

    & + & {
      border-left: 0;
    }

    a,
    span {
      padding: 0.75rem 1rem;
      display: block;
      color: currentColor;
      line-height: 1.2em;
      position: relative;
      min-width: 2.25rem;

      @media (min-width: $screen-sm) {
        min-width: 3rem;
      }
    }

    &:first-child,
    &:last-child {

      @media (min-width: $screen-sm) {
        min-width: 8rem;
      }
    }

    &:first-child {
      border-top-left-radius: $border-radius * 2;
      border-bottom-left-radius: $border-radius * 2;
    }

    &:last-child {
      border-top-right-radius: $border-radius * 2;
      border-bottom-right-radius: $border-radius * 2;
    }

    &:not(.s-pagination__item--active):hover {

      a {
        color: $text-color;
      }
    }

    &--prev,
    &--next {

      a,
      span {
        position: relative;
        min-height: 43px;
        padding: 0;

        &::before {
          position: absolute;
          content: '';
          display: block;
          top: 50%;
          left: 50%;
          transform: translate3d(-50%,-50%,0);
          width: 0;
          height: 10px;
        }
      }
    }

    &--prev {

      a,
      span {

        &::before {
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
          border-right: 6px solid currentColor;
        }
      }
    }

    &--next {

      a,
      span {

        &::before {
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
          border-left: 6px solid currentColor;
        }
      }
    }

    &--active {
      color: $text-color;
    }
  }
}