mixin our-production()

  //- Use:
    +our-production()

  section.s-our-production.s-section
    .container
      h2.s-main-subtitle Наша продукция
      +slick-carousel('our-production-slider').s-main-slider
        div
          +production-card('Розетка', 'https://img.diytrade.com/cdimg/1113840/33010486/0/1373597446/Solid_wood_chair_shell_chair_designer_chair_living_room_chair_leisure_chair.jpg', '/')
        div
          +production-card('Розетка', 'https://img.diytrade.com/cdimg/1113840/33010486/0/1373597446/Solid_wood_chair_shell_chair_designer_chair_living_room_chair_leisure_chair.jpg', '/')
        div
          +production-card('Розетка', 'https://img.diytrade.com/cdimg/1113840/33010486/0/1373597446/Solid_wood_chair_shell_chair_designer_chair_living_room_chair_leisure_chair.jpg', '/')
        div
          +production-card('Розетка', 'https://img.diytrade.com/cdimg/1113840/33010486/0/1373597446/Solid_wood_chair_shell_chair_designer_chair_living_room_chair_leisure_chair.jpg', '/')
        div
          +production-card('Розетка', 'https://img.diytrade.com/cdimg/1113840/33010486/0/1373597446/Solid_wood_chair_shell_chair_designer_chair_living_room_chair_leisure_chair.jpg', '/')
