.s-page-header {
  background-color: $bg-color--default;

  &__top {
    padding: 1rem 0;

    &::after {
      clear: both;
      display: table;
      content: '';
    }

    @media (min-width: $screen-md) {
      border-bottom: 1px solid $accent-color-main;
    }
  }

  &__bottom {
    padding-bottom: 1rem;

    &::after {
      clear: both;
      display: table;
      content: '';
    }

    @media (min-width: $screen-md) {
      padding-bottom: 0;
    }
  }

  // Logo section with slogan
  &__logo {
    float: left;
    width: 35%;
    position: relative;

    @media (min-width: $screen-md) {
      width: 20%;
    }
  }

  &__slogan {
    display: inline-block;
    vertical-align: middle;
    color: $accent-color-main;
    font-size: 0.875rem;
    line-height: 1.2em;

    @media (min-width: $screen-sm) {
      font-size: 1.25rem;
      margin-left: 0.125em;
    }
  }

  // Feedback block with two buttons: request and call
  &__feedback {
    float: left;
    width: 280px;
    text-align: right;

    @media (max-width: ($screen-md - 1)) {
      display: none;
    }

    @media (min-width: $screen-md) {
      padding-top: 0.5rem;
    }
  }

  &__feedback-list {
    margin: 0;
  }

  &__feedback-item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1rem;
    }

    // Change standart btn weight from bold to normal
    .s-btn {
      font-weight: 400;
    }
  }

  // Contact block with phone and language switcher
  &__contact {
    float: left;
    width: 50%;
    text-align: right;
    padding-top: 0.3rem;

    @media (min-width: $screen-sm) {
      padding-top: 1rem;
    }

    @media (min-width: $screen-md) {
      width: calc( 80% - 280px );
    }
  }

  &__contact-list {
    margin: 0;
  }

  &__contact-item {

    @media (min-width: $screen-sm) {
      display: inline-block;
    }
  }

  &__phone-number {
    color: currentColor;
    font-weight: 600;
    font-size: $font-size--small;
    display: inline-block;

    @media (min-width: $screen-md) {
      font-size: 0.875rem;
    }

    svg {
      fill: $accent-color-main;
      vertical-align: middle;
      display: inline-block;
      margin-right: 0.5rem;
    }
  }

  &__language-switcher {
    display: inline-block;

    span {
      position: relative;
      display: inline-block;
      padding: 0 1rem;
      color: $text-color--lighter;
      text-transform: uppercase;
      font-size: $font-size--small;

      &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        width: 0;
        height: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 6px solid currentColor;;
        transform: translate3d(0,-50%,0);
      }

      @media (min-width: $screen-sm) {
        margin-right: 1rem;
      }
    }
  }

  &__hamburger {
    float: left;
    width: 15%;
    text-align: right;
    padding-top: 0.75rem;
    position: relative;
    z-index: 100;

    @media (min-width: $screen-sm) {
      padding-top: 0.75rem;
    }

    @media (min-width: $screen-md) {
      display: none;
    }
  }

  &__nav {
    float: left;
    width: 100%;

    @media (min-width: $screen-md) {
      width: 70%;
    }

    @media (max-width: ($screen-md - 1)) {
      display: none;
    }
  }

  &__search {
    float: left;
    width: 100%;

    @media (min-width: $screen-md) {
      width: 30%;
      padding-top: 0.75rem;
    }
  }
}