mixin page-header(mods)

  //- Param:
    mods  {string} - modifiers

  //- Use:
    +page-header()
      div header content

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-page-header--' + modsList[i].trim();
      }
    }

  header.s-page-header(class=allMods, role='banner')&attributes(attributes)
    .s-page-header__inner.container
      .s-page-header__top

        .s-page-header__logo
          +logo('/')
            span.s-page-header__slogan
              | Зрит в
              br
              | корень

        .s-page-header__contact
          ul.s-page-header__contact-list
            li.s-page-header__contact-item
              a.s-page-header__phone-number(href='tel:+71234567890')
                svg(width='12' height='12'): use(xlink:href='#phone')
                | +7 (123) 456-78-90
            li.s-page-header__contact-item
              .s-page-header__language-switcher
                span Ru

        .s-page-header__feedback
          ul.s-page-header__feedback-list
            li.s-page-header__feedback-item
              +btn()(type='button', data-toggle='modal', data-target='#request')
                svg(width='18' height='13'): use(xlink:href='#mail')
                span Запрос
            li.s-page-header__feedback-item
              +btn()(type='button', data-toggle='modal', data-target='#feedback')
                svg(width='13' height='13'): use(xlink:href='#phone--calling')
                span Звонок

        .s-page-header__hamburger
          +hamburger('Show mobile navigation')

      .s-page-header__bottom
        .s-page-header__nav
          +main-nav()

        .s-page-header__search
          +search-form()

  +mobile-menu()

  //- Request
  #request.s-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='request')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
          h4#myModalLabel.modal-title Modal title
        .modal-body
          +form()
            +fieldset('Name')
              +field-text({
                title: 'Title',
                attrs: {
                  placeholder: 'Text'
                }
              })
              +field-text({
                title: 'Title',
                attrs: {
                  placeholder: 'Text'
                }
              })
        .modal-footer
          +btn('Submit')(type='button')

  //- Feedback
  #feedback.s-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='request')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
          h4#myModalLabel.modal-title Modal title
        .modal-body
          +form()
            +fieldset('Name')
              +field-text({
                title: 'Title',
                attrs: {
                  placeholder: 'Text'
                }
              })
              +field-text({
                title: 'Title',
                attrs: {
                  placeholder: 'Text'
                }
              })
        .modal-footer
          +btn('Submit')(type='button')
