.s-filters {

  &__subtitle {
    display: inline-block;
    margin-right: 1rem;
  }

  [type='text'],
  select {
    height: 26px;
    padding: 0 0.5rem;
  }

  &__form {

    @media (min-width: $screen-sm) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    @media (min-width: $screen-md) {
      justify-content: space-between;
    }
  }

  &__size {

    @media (min-width: $screen-sm) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      flex-basis: 100%;
      justify-content: space-between;

      .s-field-select {
        width: 30%;
        flex-basis: auto;
      }
    }

    @media (min-width: $screen-md) {
      width: 50%;
      flex-basis: 50%;
      align-items: center;

      .s-field-select {
        margin: 0;
      }
    }
  }

  &__price {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (min-width: $screen-sm) {
      width: 100%;
      flex-basis: 100%;
    }

    @media (min-width: $screen-md) {
      width: 30%;
      flex-basis: 30%;
      justify-content: space-around;
      align-items: center;
    }

    .s-field-text {

      @media (min-width: $screen-md) {
        display: flex;
        justify-content: space-between;
        margin: 0;
      }
    }

    .s-field-text__name {
      flex-shrink: 0;
      padding-right: 0.5rem;
    }

    .s-field-text {
      width: 45%;
      flex-basis: 45%;
    }
  }

  &__action {
    width: 100%;

    @media (min-width: $screen-sm) {
      text-align: center;
    }

    @media (min-width: $screen-md) {
      width: auto;
      flex-basis: auto;
      align-items: center;
    }

    .s-field-actions {
      margin: 0;
    }

    .s-btn {
      width: 100%;

      @media (min-width: $screen-sm) {
        width: auto;
      }

      @media (min-width: $screen-md) {
        height: 33px;
        padding: 0.125rem 1rem;
      }
    }
  }
}