mixin filters()

  .s-filters
    +form.s-filters__form

      .s-filters__size
        +field-select(
          '',
          {
            name: 'size',
            id: 'size'
          },
          [
            {
              title: 'Размер',
              attrs: {
                value: '',
              }
            },
            {
              title: 'Размер',
              attrs: {
                value: '',
              }
            },
          ]
        )
        +field-select(
          '',
          {
            name: 'select',
            id: 'select'
          },
          [
            {
              title: 'Шпон',
              attrs: {
                value: '',
              }
            },
            {
              title: 'Шпон',
              attrs: {
                value: '',
              }
            },
          ]
        )
        +field-select(
          '',
          {
            name: 'select2',
            id: 'select2'
          },
          [
            {
              title: 'Материал',
              attrs: {
                value: '',
              }
            },
            {
              title: 'Материал',
              attrs: {
                value: '',
              }
            },
          ]
        )

      .s-filters__price
        +field-text({
          title: 'Цена от'
        })
        +field-text({
          title: 'до'
        })

      .s-filters__action
        +field-actions
          +btn('Применить')