.s-mobile-menu {
  background: $bg-color--darker;
  color: $text-color--lightest;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transform: translate3d(100%, 0, 0);
  will-change: transform;
  z-index: 10;
  -webkit-overflow-scrolling: touch;
  transition: all 0.25s cubic-bezier(0,.29,.55,1) 0s;

  @media (min-width: $screen-md) {
    display: none;
  }

  &__inner {
    height: 100%;
    overflow-y: scroll;
    padding: 5rem 1rem 1rem;
    font-size: 1.5rem;
  }

  &__nav-item {
    text-transform: uppercase;
    letter-spacing: 0.075em;
    font-weight: 500;
    margin: 0;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;

    &:not(:last-child) {
      border-bottom: 1px solid #3f3e3e;
    }
  }

  &__nav-link {
    color: currentColor;
    font-weight: 700;
  }

  &__sublist-wrapper {
    max-height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-weight: 500;
    opacity: 0.5;
    font-size: 0.75em;
    letter-spacing: normal;
    text-transform: none;

    &.is-open {
      max-height: 100%;
      padding-top: #{ $line-height / 2 + 'rem' };
    }
  }

  &--is-active {
    transform: translate3d(0,0,0);
  }
}