mixin mobile-menu

  //- Include info
  include ../main-nav/main-nav-data.pug

  .s-mobile-menu
    .s-mobile-menu__inner
      ul.s-mobile-menu__nav-list
        each menuItem in mainMenu
          +s-mobile-menu-item(selectedID, menuItem, 1)

            if (typeof(menuItem.childs) !== 'undefined' && menuItem.childs)
              +s-mobile-menu-sublist-wrapper(2)
                each menuItem2 in menuItem.childs
                  +s-mobile-menu-item(selectedID, menuItem2, 2)

                    if (typeof(menuItem2.childs) !== 'undefined' && menuItem2.childs)
                      +s-mobile-menu-sublist-wrapper(3)
                        each menuItem3 in menuItem2.childs
                          +s-mobile-menu-item(selectedID, menuItem3, 3)

mixin s-mobile-menu-item(selectedID, item, level)
  -
    var thisItemClass = 's-mobile-menu__nav-item';
    var thisLinkClass = 's-mobile-menu__nav-link';
    if(selectedID == item.id) {
      thisItemClass += '  s-mobile-menu__nav-item--active';
    }
    if(item.childs) {
      thisItemClass += '  s-mobile-menu__nav-item--has-child';
    }
    if(level > 1) {
      thisItemClass += '  s-mobile-menu__nav-item--lvl-' + level;
      thisLinkClass += '  s-mobile-menu__nav-link--lvl-' + level;
    }

  li(class= thisItemClass)
    a(class= thisLinkClass, href=item.url)= item.name
    block

mixin s-mobile-menu-sublist-wrapper(level)
  -
    var divClass = 's-mobile-menu__sublist-wrapper  s-mobile-menu__sublist-wrapper--lvl-' + level;
    var listClass = 's-mobile-menu__list  s-mobile-menu__list--lvl-' + level;
  div(class= divClass)
    ul(class= listClass)
      block
