.s-btn {
  position: relative;
  display: inline-block;
  background-color: $button-main-bg-color;
  background-image: none;
  color: $text-color--lightest;
  margin: 0;
  padding: 0.75em 1.75em 0.775em;
  border-radius: 0.2em;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.5em;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  touch-action: manipulation;
  user-select: none;
  overflow: hidden;
  box-sizing: border-box;
  white-space: nowrap;
  z-index: 1;
  transition: background-color 250ms ease-out 0s;

  svg {
    vertical-align: middle;
    margin-right: 0.5rem;
    transform: translate3d(0,-1px,0);
    fill: currentColor;
  }

  &:hover,
  &:focus {
    background-color: $button-main-bg-hover;
  }

  &:active,
  &:focus {}

  &:visited {}

  &--disabled,
  &:disabled {
    opacity: $opacity;
    cursor: not-allowed;
    color: $text-color;
    background-color: $gray-lightest;
    border-color: $gray-lighter;

    @at-root a.s-btn--disabled {
      pointer-events: none;
    }
  }

  &--secondary {
    background-color: $accent-color-main;
    font-weight: 700;

    &:hover,
    &:focus {
      background-color: #f01212;
    }
  }
}