.s-showcase-card {
  background-color: $bg-color--default;
  box-shadow: 0 0 6px 0 rgba(112,112,112,0.50);
  display: block;
  margin-bottom: 15px;
  position: relative;

  @media (min-width: $screen-sm) {
    margin-bottom: 30px;
  }

  &:hover {

    .s-showcase-card__desc {
      opacity: 1;
    }

    .s-showcase-card__title {
      opacity: 0;
    }
  }

  &__inner {
    position: relative;
    color: $text-color--lightest;
  }

  &__cover {
    height: 15rem;

    @media (min-width: $screen-md) {
      height: 20rem;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    @extend .s-production-card__title;
    opacity: 1;
    transition: all 250ms ease-out 0s;
  }

  &__subtitle {
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
  }

  &__desc {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($bg-color--default, 0.75);
    box-shadow: 0 0 6px 1px rgba(137,134,134,0.50);
    color: $text-color;
    text-align: center;
    padding: 10%;
    opacity: 0;
    transition: all 250ms ease-out 0s;
    font-size: 14px;
  }
}