mixin showcase-card(title, imgSrc, href)

  a.s-showcase-card(href=href)
    .s-showcase-card__inner
      .s-showcase-card__cover
        img(src=imgSrc, alt='')
      h3.s-showcase-card__title #{title}
    .s-showcase-card__desc
      h4.s-showcase-card__subtitle #{title}
      p Не следует, однако, забывать, что высокое качество позиционных исследований играет определяющее значение для новых предложений!
