mixin short-card(title, vendorCode, imgSrc, href)

  a.s-short-card(href=href)
    .s-short-card__inner
      img(src=imgSrc)
    .s-short-card__info
      h3.s-short-card__title #{title}
      span.s-short-card__vendor-code Артикул: #{vendorCode}
