.s-short-card {
  background-color: $bg-color--lighter;
  color: $text-color--lightest;
  box-shadow: 0 0 4px 0 rgba(162,160,160,0.50);
  height: 10rem;
  position: relative;
  display: block;

  &:hover {

    .s-short-card__info {
      opacity: 1;
    }
  }

  &__inner {
    height: 100%;
    width: 100%;
    z-index: 1;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__info {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($black, 0.3);
    opacity: 0;
    transition: all 0.5s ease-out 0s;
    padding: 2rem;
  }

  &__title {
    font-weight: 700;
    font-size: 1.125rem;
  }

  &__vendor-code {
    font-size: 0.875rem;
    color: $text-color--lighter;
  }
}