.s-production-card {
  position: relative;
  width: 100%;
  height: 15rem;
  color: $text-color--lightest;
  background-color: $bg-color--darker;
  display: block;

  img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: all 1s ease-out 0s;
  }

  &__title {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    background-color: rgba(0,0,0,0.4);
    font-weight: 700;
    font-size: 1.125rem;
    padding: 1rem 2rem;
    z-index: 2;
  }

  &__upperlayer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.2);
    opacity: 0;
    transition: all 250ms ease-out 0s;
    z-index: 1;

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%,-50%,0);
      font-size: 1.5rem;
      text-transform: uppercase;
      text-align: center;
      width: 100%;
    }
  }

  &:hover,
  &:focus {
    outline: none;

    img {
      width: 110%;
      height: 110%;
    }

    .s-production-card__upperlayer {
      opacity: 1;
    }
  }
}