mixin production-card(title, src, href)

  //- Param:
    src    {string} - image src
    title  {string} - card title
    href   {string} - link

  a.s-production-card(href=href)
    img(src=src, alt='')
    h3.s-production-card__title #{title}
    .s-production-card__upperlayer
      span Подробнее