include ../blocks/promo/promo.pug
include ../blocks/dropcap/dropcap.pug
include ../blocks/page-header/page-header.pug
include ../blocks/page-footer/page-footer.pug
include ../blocks/btn/btn.pug
include ../blocks/page/page.pug
include ../blocks/breadcrumbs/breadcrumbs.pug
include ../blocks/form/form.pug
include ../blocks/field-text/field-text.pug
include ../blocks/logo/logo.pug
include ../blocks/pagination/pagination.pug
include ../blocks/table/table.pug
include ../blocks/testimonials/testimonials.pug
include ../blocks/social/social.pug
include ../blocks/owl-carousel/owl-carousel.pug
include ../blocks/hamburger/hamburger.pug
include ../blocks/main-nav/main-nav.pug
include ../blocks/field-radio/field-radio.pug
include ../blocks/style-guide/style-guide.pug
include ../blocks/field-select/field-select.pug
include ../blocks/field-checkbox/field-checkbox.pug
include ../blocks/subscription/subscription.pug
include ../blocks/field-actions/field-actions.pug
include ../blocks/search-form/search-form.pug
include ../blocks/slick-carousel/slick-carousel.pug
include ../blocks/text-block/text-block.pug
include ../blocks/main-subtitle/main-subtitle.pug
include ../blocks/our-production/our-production.pug
include ../blocks/section/section.pug
include ../blocks/main-slider/main-slider.pug
include ../blocks/news-preview/news-preview.pug
include ../blocks/production-card/production-card.pug
include ../blocks/news-card/news-card.pug
include ../blocks/news-list/news-list.pug
include ../blocks/news-item/news-item.pug
include ../blocks/testimonial-card/testimonial-card.pug
include ../blocks/contacts/contacts.pug
include ../blocks/map/map.pug
include ../blocks/catalog-showcase/catalog-showcase.pug
include ../blocks/showcase/showcase.pug
include ../blocks/product-card/product-card.pug
include ../blocks/recently-viewed/recently-viewed.pug
include ../blocks/short-card/short-card.pug
include ../blocks/label/label.pug
include ../blocks/gallery/gallery.pug
include ../blocks/full-product-info/full-product-info.pug
include ../blocks/catalog/catalog.pug
include ../blocks/shopping-basket/shopping-basket.pug
include ../blocks/modal/modal.pug
include ../blocks/mobile-menu/mobile-menu.pug
include ../blocks/main-gallery/main-gallery.pug
include ../blocks/share/share.pug
include ../blocks/filters/filters.pug
include ../blocks/fields-group/fields-group.pug
