mixin news-preview()

  //- Use:
    +news-preview()

  section.s-news-preview.s-section
    .container
      h2.s-main-subtitle Новости
      +slick-carousel('news-preview-slider').s-main-slider
        div
          +news-card(
            '10 июля 2018',
            'Заголовок',
            'Не следует, однако, забывать, что высокое качество позиционных исследований играет определяющее значение для новых предложений',
            '/'
          )
        div
          +news-card(
            '10 июля 2018',
            'Заголовок',
            'Не следует, однако, забывать, что высокое качество позиционных исследований играет определяющее значение для новых предложений',
            '/'
          )
        div
          +news-card(
            '10 июля 2018',
            'Заголовок',
            'Не следует, однако, забывать, что высокое качество позиционных исследований играет определяющее значение для новых предложений',
            '/'
          )
        div
          +news-card(
            '10 июля 2018',
            'Заголовок',
            'Не следует, однако, забывать, что высокое качество позиционных исследований играет определяющее значение для новых предложений',
            '/'
          )
        div
          +news-card(
            '10 июля 2018',
            'Заголовок',
            'Не следует, однако, забывать, что высокое качество позиционных исследований играет определяющее значение для новых предложений',
            '/'
          )