.s-share {
  text-align: center;

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }

    @media (min-width: $screen-sm) {
      display: block;
    }
  }

  &__link {
    padding: 0.5rem;
    display: inline-block;
  }
}