.s-logo {
  display: inline-block;
  white-space: nowrap;

  img {
    display: block;
  }

  svg {
    vertical-align: middle;
    z-index: 100;
    position: relative;

    circle {

      @media (min-width: $screen-sm) {
        r: 27;
      }
    }

    text {

      @media (min-width: $screen-sm) {
        font-size: 24px;
      }
    }
  }
}