mixin logo(href, mods)

  //- Param:
    href  {string} - link
    mods  {string} - modifiers

  //- Use:
    +logo('/')
      img(src='img/logo.svg', alt='Logo', width='64', height='15')
    +logo(false, 'mod')
      img(src='img/logo.svg', alt='Logo', width='64', height='15')
  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-logo--' + modsList[i].trim();
      }
    }

  a.s-logo(class=allMods, href=href)&attributes(attributes)
    svg(width='56', height='56')
      circle(cx='28', cy='28', r='19', stroke='#d32f2f', fill='none')
      text(x='50%', y='50%', text-anchor='middle', fill='#d32f2f', dy='0.325em', font-size='14') Pm
    block
