.s-product-card {
  background-color: $bg-color--default;
  box-shadow: 5px 6px 11px 0 rgba(169,167,167,0.50);
  margin-bottom: 1rem;

  &__inner {
    position: relative;
  }

  &__cover {
    height: 14rem;
    padding: 1rem;

    img {
      object-fit: contain;
      object-position: 50% 50%;
      width: 100%;
      height: 100%;
    }
  }

  &__info {
    padding: 1rem;
    padding-bottom: 3.5rem;
    position: relative;
  }

  &__title {
    font-weight: 700;
    font-size: 1.125rem;
  }

  &__vendor-code {
    font-size: 0.975rem;
    color: $text-color--lighter;
  }

  &__price {
    position: absolute;
    bottom: 1.4rem;
    left: 1rem;
    font-size: 1.125rem;
    font-weight: 700;
  }

  &__link {
    position: absolute;
    bottom: 1rem;
    right: 1rem;

    svg {
      margin: 0;
    }
  }

  &__label {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    background-color: rgba($accent-color-main, 0.5);
    color: $text-color--lightest;
    font-size: 1.125rem;
    font-weight: 700;
    padding: 0.5rem 1.25rem;
  }
}