mixin product-card(imgSrc, title, vendorCode, price, href, label, mods)

  //- Param:
    img {string}         - image src
    title {string}.      - product name
    vendorCode {string}  - product vendor code
    price {string}.      - product price
    href {string}        - link to full product page
    label {string}       - special offer label (if needed)
    mods {string}        - modifiers

  //- Use:
    +product-card(
      'img/image.jpg',
      'Product Title',
      '468357',
      '12 000',
      '/product.html',
      'Sale'
    )

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods.trim() + ' s-product-card--' + modsList[i].trim();
      }
    }

  if (typeof(label) !== 'undefined')
    .s-product-card(class=allMods)&attributes(attributes)
      .s-product-card__inner
        .s-product-card__cover
          img(src=imgSrc, alt='')
        .s-product-card__info
          h3.s-product-card__title #{title}
          .s-product-card__vendor-code #{vendorCode}
          span.s-product-card__price #{price} руб.
          +btn('')(href=href).s-product-card__link
            svg(width='17' height='13'): use(xlink:href='#cart')
        .s-product-card__label #{label}

  else
    .s-product-card(class=allMods)&attributes(attributes)
      .s-product-card__inner
        .s-product-card__cover
          img(src=imgSrc, alt='')
        .s-product-card__info
          h3.s-product-card__title #{title}
          .s-product-card__vendor-code #{vendorCode}
          span.s-product-card__price #{price} руб.
          +btn('')(href=href).s-product-card__link
            svg(width='17' height='13'): use(xlink:href='#cart')
