.s-page-footer {
  padding: 3rem 0;
  background-color: $bg-color--darker;
  color: $text-color--lightest;
  text-align: center;

  @media (min-width: $screen-md) {
    text-align: left;
    padding: 2rem 0 1rem;
  }

  &__subtitle {
    text-transform: uppercase;
    font-size: 1.125rem;
    border-bottom: 1px solid $border-color;
    padding-bottom: 0.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  &__nav-list,
  &__contact-list {
    font-size: 0.875rem;
    margin-bottom: 3rem;

    @media (min-width: $screen-md) {
      margin-bottom: 0;
    }

    li {

      a {
        color: currentColor;
        opacity: 0.6;
        display: block;
        padding: 0.25rem 0;

        &:hover,
        &:focus {
          opacity: 1;
        }

        @media (min-width: $screen-md) {
          display: inline-block;
        }
      }
    }
  }

  &__copyright {
    padding-top: 1rem;
    margin-top: 1rem;
    font-size: $font-size--small;
    text-align: center;

    @media (min-width: $screen-md) {
      border-top: 1px solid $border-color;
    }

    span {
      opacity: 0.6;
    }
  }
}