mixin page-footer(mods)

  //- Param:
    mods  {string} - modifiers

  //- Use:
    +page-footer()
      div footer content

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-page-footer--' + modsList[i].trim();
      }
    }

  footer.s-page-footer(class=allMods, role='contentinfo')&attributes(attributes)
    .s-page-footer__inner.container
      .row
        .col-xs-12.col-sm-6.col-md-3
          h3.s-page-footer__subtitle Наши изделия
          ul.s-page-footer__nav-list
            li: a(href='/') Новинки
            li: a(href='/') Сделай сам
            li: a(href='/') Для производителей
        .col-xs-12.col-sm-6.col-md-3
          h3.s-page-footer__subtitle Информация
          ul.s-page-footer__nav-list
            li: a(href='/') Как заказать
            li: a(href='/') Как собрать
            li: a(href='/') Правила оказания услуг
            li: a(href='/') Политика конфиденциальности
        .col-xs-12.col-sm-6.col-md-3
          h3.s-page-footer__subtitle Контакты
          ul.s-page-footer__contact-list
            li: a(href='tel:+71234567890') +7 (123) 456-78-90
            li: a(href='tel:+71234567890') +7 (123) 456-78-90
            li: a(href='mailto:mail@info.ru') mail@info.ru
        .col-xs-12.col-sm-6.col-md-3
          +subscription()
        .col-xs-12
          .s-page-footer__copyright: span © 2018 Все права защищены