mixin recently-viewed()

  section.s-recently-viewed.s-section
    .container
      h2.s-main-subtitle Просмотренные товары
      +slick-carousel().s-main-slider
        div: +short-card(
          'Product',
          '468357',
          'https://78.media.tumblr.com/72be430dd5aca3a51b6e3a860f06265a/tumblr_p9yfokxOIE1qze888o1_640.jpg',
          '/'
        )
        div: +short-card(
          'Product',
          '468357',
          'https://78.media.tumblr.com/72be430dd5aca3a51b6e3a860f06265a/tumblr_p9yfokxOIE1qze888o1_640.jpg',
          '/'
        )
        div: +short-card(
          'Product',
          '468357',
          'https://78.media.tumblr.com/72be430dd5aca3a51b6e3a860f06265a/tumblr_p9yfokxOIE1qze888o1_640.jpg',
          '/'
        )
        div: +short-card(
          'Product',
          '468357',
          'https://78.media.tumblr.com/72be430dd5aca3a51b6e3a860f06265a/tumblr_p9yfokxOIE1qze888o1_640.jpg',
          '/'
        )
        div: +short-card(
          'Product',
          '468357',
          'https://78.media.tumblr.com/72be430dd5aca3a51b6e3a860f06265a/tumblr_p9yfokxOIE1qze888o1_640.jpg',
          '/'
        )
      block