.s-contacts {
  padding: 0 15px;

  @media (min-width: $screen-sm) {
    padding: 0;
  }

  &__left {
    width: 100%;

    @media (min-width: $screen-sm) {
      margin-left: auto;
      width: (750px - 30px) / 2;
      padding-left: 15px;
    }

    @media (min-width: $screen-md) {
      margin-left: auto;
      width: (970px - 30px) / 2;
      padding-left: 15px;
    }

    @media (min-width: $screen-lg) {
      margin-left: auto;
      width: (1170px - 30px) / 2;
      padding-left: 15px;
    }
  }

  &__info {

  }

  &__address,
  &__requisites {
    margin-bottom: 1rem;

    @media (min-width: $screen-md) {
      margin-bottom: 0;
      float: left;
      width: 50%;
    }
  }

  &__address-list,
  &__requisites-list {
    margin: 0;
  }

  &__address-item,
  &__requisites-item {
    font-weight: 700;
    font-size: 10px;
    margin-bottom: 0.25rem;

    span {
      color: $text-color--lighter;
      font-weight: 400;
      font-size: 10px;
    }
  }

  &__address-item {
    font-size: 12px;

    span {
      display: block;
    }

    a {
      color: currentColor;
    }
  }

  &__social-list {
    margin: 0;
  }

  &__social-item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 0.5rem;
    }
  }

  &__social-link {
    padding: 0.25rem 0;
  }
}