mixin news-list()

  section.s-news-list.s-section
    .container
      +breadcrumb()
        +breadcrumb-item('Главная', '/home')
        +breadcrumb-item(title)

      h2.s-main-subtitle Новости

      +news-card(
        '10 июля 2018',
        'Заголовок',
        'Не следует, однако, забывать, что высокое качество позиционных исследований играет определяющее значение для новых предложений! А еще ключевые особенности структуры проекта будут объединены в целые кластеры себе подобных. Но базовый вектор развития говорит о возможностях новых предложений.',
        '/news-item.html',
        'text-with-cover'
      )
      +news-card(
        '10 июля 2018',
        'Заголовок',
        'Не следует, однако, забывать, что высокое качество позиционных исследований играет определяющее значение для новых предложений! А еще ключевые особенности структуры проекта будут объединены в целые кластеры себе подобных. Но базовый вектор развития говорит о возможностях новых предложений.',
        '/news-item.html',
        'text-with-cover'
      )
      +news-card(
        '10 июля 2018',
        'Заголовок',
        'Не следует, однако, забывать, что высокое качество позиционных исследований играет определяющее значение для новых предложений! А еще ключевые особенности структуры проекта будут объединены в целые кластеры себе подобных. Но базовый вектор развития говорит о возможностях новых предложений.',
        '/news-item.html',
        'text-with-cover'
      )
      +news-card(
        '10 июля 2018',
        'Заголовок',
        'Не следует, однако, забывать, что высокое качество позиционных исследований играет определяющее значение для новых предложений! А еще ключевые особенности структуры проекта будут объединены в целые кластеры себе подобных. Но базовый вектор развития говорит о возможностях новых предложений.',
        '/news-item.html',
        'text-with-cover'
      )
      +news-card(
        '10 июля 2018',
        'Заголовок',
        'Не следует, однако, забывать, что высокое качество позиционных исследований играет определяющее значение для новых предложений! А еще ключевые особенности структуры проекта будут объединены в целые кластеры себе подобных. Но базовый вектор развития говорит о возможностях новых предложений.',
        '/news-item.html',
        'text-with-cover'
      )

      +pagination()
        +pagination-item('Первая', '/1')
        +pagination-item('', '/', '', 'prev')
        +pagination-item('3', '/3')
        +pagination-item('4', '/4')
        +pagination-item('5', '/5', true)
        +pagination-item('6', '/6')
        +pagination-item('7', '/7')
        +pagination-item('', '/', '', 'next')
        +pagination-item('Последняя', '/999')
