.s-shopping-basket {
  padding-bottom: 2rem;

  &__product-cover {
    width: 5rem;
    height: 5rem;

    @media (min-width: $screen-md) {
      display: inline-block;
      vertical-align: middle;
    }
  }

  &__product-name {
    font-size: 0.875rem;
    font-weight: 700;
    vertical-align: middle;

    @media (min-width: $screen-md) {
      display: inline-block;
      margin-left: 0.5rem;
    }
  }

  &__product-vendor-code {
    font-weight: 600;
    font-size: $font-size--small;
    color: $text-color--lighter;
  }

  &__amount,
  &__price,
  &__price-total,
  &__amount-minus,
  &__amount-plus {
    font-weight: 700;

    @media (min-width: $screen-md) {
      font-size: 1.5rem;
    }
  }

  &__amount {
    position: relative;
    display: inline-block;
  }

  &__amount-minus,
  &__amount-plus {
    display: inline-block;
    padding: 0 0.5rem;
    cursor: pointer;
  }

  &__total {
    padding: 1rem;
    font-size: 0.875rem;
    font-weight: 700;

    @media (min-width: $screen-sm) {

      span {
        font-size: 1.5rem;
        display: inline-block;
            padding: 0 0.4rem 0 0.3rem;
      }
    }
  }

  &__total-final {
    font-size: 1.125rem;
    font-weight: 600;
  }
}