mixin catalog-showcase()

  section.s-catalog-showcase
    .container
      +breadcrumb()
        +breadcrumb-item('Главная', '/index.html')
        +breadcrumb-item(title)
      h2.s-main-subtitle Витрина каталога
      .row
        .col-xs-12.col-sm-6
          +showcase-card('Вектор', 'https://images.unsplash.com/photo-1474927280041-5bef478c74e3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4fe166c3f6aa784292c97e94953bcb68&auto=format&fit=crop&w=1508&q=80', '/')
        .col-xs-12.col-sm-6
          +showcase-card('Трафарет', 'https://images.unsplash.com/photo-1474927280041-5bef478c74e3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4fe166c3f6aa784292c97e94953bcb68&auto=format&fit=crop&w=1508&q=80', '/')
        .col-xs-12.col-sm-6
          +showcase-card('Орнамент', 'https://images.unsplash.com/photo-1474927280041-5bef478c74e3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4fe166c3f6aa784292c97e94953bcb68&auto=format&fit=crop&w=1508&q=80', '/')
        .col-xs-12.col-sm-6
          +showcase-card('Изделия', 'https://images.unsplash.com/photo-1474927280041-5bef478c74e3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4fe166c3f6aa784292c97e94953bcb68&auto=format&fit=crop&w=1508&q=80', '/')