.s-label {
  font-size: 0.875rem;
  background-color: #d8d8d8;
  color: $text-color--lightest;
  display: inline-block;
  text-transform: lowercase;
  padding: 0.225rem 1rem 0.275rem;
  border-radius: 1rem;
}