mixin label(text, mods, tag)

  //- Param:
    text  {string} - text
    mods  {string} - modifiers
    tag   {string}

  //- Use:
    +label('Label ext')
    +label('Label ext', 'mods', 'div')
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-label--' + modsList[i].trim();
      }
    }

  if (typeof(tag) !== 'undefined' && tag)
    #{tag}.s-label(class=allMods)&attributes(attributes)!= text
      block

  else
    span.s-label(class=allMods)&attributes(attributes)!= text