.s-main-slider {
  width: 70%;
  margin: auto;
  margin-bottom: 1rem;

  @media (min-width: $screen-sm) {
    width: $screen-sm - 120px;
  }

  @media (min-width: $screen-md) {
    width: $screen-md - 200px;
  }

  @media (min-width: $screen-lg) {
    width: $screen-lg - 200px;
  }

  @media (min-width: $screen-xl) {
    width: 100%;
  }

  .slick-list {
    margin: 0 -15px;
  }

  .slick-slide {
    margin: 0 15px;
    outline: none;
  }

  .slick-prev,
  .slick-next {
    position: absolute;
    top: 50%;
    z-index: 2;
    padding: 0;
    background-color: $bg-color--default;
    width: 24px;
    height: 24px;
    border-radius: 30px;
    transform: translate3d(0,-50%,0);
    cursor: pointer;
    box-shadow: 0 0 2px 1px rgba(198,191,191,0.50);

    @media (min-width: $screen-md) {
      width: 49px;
      height: 49px;
    }

    svg {
      vertical-align: middle;
      width: 8px;
      height: 16px;

      @media (min-width: $screen-md) {
        width: 16px;
        height: 36px;
      }
    }
  }

  .slick-prev {
    left: -3rem;

    @media (min-width: $screen-md) {
      left: -5rem;
    }
  }

  .slick-next {
    right: -3rem;

    @media (min-width: $screen-md) {
      right: -5rem;
    }

    svg {
      transform: rotate3d(0, 0, 1, 180deg);
    }
  }
}