extends pug/layout.pug

block meta
  - var title = 'Catalog Showcase';
  title= title
  meta(name='description', content='')

block header
  +page-header()

block content
  +catalog-showcase()

  .s-section.s-section--accent
    .container
      +slick-carousel().s-main-slider
        div: +product-card(
          'https://img.diytrade.com/cdimg/1113840/33010486/0/1373597446/Solid_wood_chair_shell_chair_designer_chair_living_room_chair_leisure_chair.jpg',
          'Title',
          '468357',
          '12 000',
          '/'
        )
        div: +product-card(
          'https://img.diytrade.com/cdimg/1113840/33010486/0/1373597446/Solid_wood_chair_shell_chair_designer_chair_living_room_chair_leisure_chair.jpg',
          'Title',
          '468357',
          '12 000',
          '/'
        )
        div: +product-card(
          'https://img.diytrade.com/cdimg/1113840/33010486/0/1373597446/Solid_wood_chair_shell_chair_designer_chair_living_room_chair_leisure_chair.jpg',
          'Title',
          '468357',
          '12 000',
          '/'
        )
        div: +product-card(
          'https://img.diytrade.com/cdimg/1113840/33010486/0/1373597446/Solid_wood_chair_shell_chair_designer_chair_living_room_chair_leisure_chair.jpg',
          'Title',
          '468357',
          '12 000',
          '/'
        )
        div: +product-card(
          'https://img.diytrade.com/cdimg/1113840/33010486/0/1373597446/Solid_wood_chair_shell_chair_designer_chair_living_room_chair_leisure_chair.jpg',
          'Title',
          '468357',
          '12 000',
          '/'
        )

  +text-block('Заголовок')
    p Не следует, однако, забывать, что высокое качество позиционных исследований играет определяющее значение для новых предложений! А еще ключевые особенности структуры проекта будут объединены в целые кластеры себе подобных. Но базовый вектор развития говорит о возможностях новых предложений! Предприниматели в сети интернет, инициированные исключительно синтетически, своевременно верифицированы. Задача организации, в особенности же реализация намеченных плановых заданий создает предпосылки для кластеризации усилий.

  .s-section.s-section--accent
    .container
      +slick-carousel().s-main-slider
        div: +product-card(
          'https://img.diytrade.com/cdimg/1113840/33010486/0/1373597446/Solid_wood_chair_shell_chair_designer_chair_living_room_chair_leisure_chair.jpg',
          'Title',
          '468357',
          '12 000',
          '/',
          'Sale'
        )
        div: +product-card(
          'https://img.diytrade.com/cdimg/1113840/33010486/0/1373597446/Solid_wood_chair_shell_chair_designer_chair_living_room_chair_leisure_chair.jpg',
          'Title',
          '468357',
          '12 000',
          '/',
          'Latest'
        )
        div: +product-card(
          'https://img.diytrade.com/cdimg/1113840/33010486/0/1373597446/Solid_wood_chair_shell_chair_designer_chair_living_room_chair_leisure_chair.jpg',
          'Title',
          '468357',
          '12 000',
          '/',
          'Sale'
        )
        div: +product-card(
          'https://img.diytrade.com/cdimg/1113840/33010486/0/1373597446/Solid_wood_chair_shell_chair_designer_chair_living_room_chair_leisure_chair.jpg',
          'Title',
          '468357',
          '12 000',
          '/'
        )
        div: +product-card(
          'https://img.diytrade.com/cdimg/1113840/33010486/0/1373597446/Solid_wood_chair_shell_chair_designer_chair_living_room_chair_leisure_chair.jpg',
          'Title',
          '468357',
          '12 000',
          '/'
        )

  +recently-viewed()
    +label('Label', '', 'a')(href='/')
    +label('Label', '', 'a')(href='/')
    +label('Label', '', 'a')(href='/')
    +label('Label', '', 'a')(href='/')

block footer
  +page-footer()