extends pug/layout.pug

block meta
  - var title = 'Catalog';
  title= title
  meta(name='description', content='')

block header
  +page-header()

block content

  .s-catalog
    .container
      +breadcrumb()
        +breadcrumb-item('Главная', '/index.html')
        +breadcrumb-item('Витрина каталога', '/catalog-showcase.html')
        +breadcrumb-item(title)

      .s-catalog__filters
        +filters

      .s-catalog__list
          .col-xs-12.col-sm-6.col-md-4.col-lg-3
            +product-card(
              'https://img.diytrade.com/cdimg/1113840/33010486/0/1373597446/Solid_wood_chair_shell_chair_designer_chair_living_room_chair_leisure_chair.jpg',
              'Title',
              '468357',
              '12 000',
              '/'
            )
          .col-xs-12.col-sm-6.col-md-4.col-lg-3
            +product-card(
              'https://img.diytrade.com/cdimg/1113840/33010486/0/1373597446/Solid_wood_chair_shell_chair_designer_chair_living_room_chair_leisure_chair.jpg',
              'Title',
              '468357',
              '12 000',
              '/'
            )
          .col-xs-12.col-sm-6.col-md-4.col-lg-3
            +product-card(
              'https://img.diytrade.com/cdimg/1113840/33010486/0/1373597446/Solid_wood_chair_shell_chair_designer_chair_living_room_chair_leisure_chair.jpg',
              'Title',
              '468357',
              '12 000',
              '/'
            )
          .col-xs-12.col-sm-6.col-md-4.col-lg-3
            +product-card(
              'https://img.diytrade.com/cdimg/1113840/33010486/0/1373597446/Solid_wood_chair_shell_chair_designer_chair_living_room_chair_leisure_chair.jpg',
              'Title',
              '468357',
              '12 000',
              '/'
            )
          .col-xs-12.col-sm-6.col-md-4.col-lg-3
            +product-card(
              'https://img.diytrade.com/cdimg/1113840/33010486/0/1373597446/Solid_wood_chair_shell_chair_designer_chair_living_room_chair_leisure_chair.jpg',
              'Title',
              '468357',
              '12 000',
              '/'
            )
          .col-xs-12.col-sm-6.col-md-4.col-lg-3
            +product-card(
              'https://img.diytrade.com/cdimg/1113840/33010486/0/1373597446/Solid_wood_chair_shell_chair_designer_chair_living_room_chair_leisure_chair.jpg',
              'Title',
              '468357',
              '12 000',
              '/'
            )
          .col-xs-12.col-sm-6.col-md-4.col-lg-3
            +product-card(
              'https://img.diytrade.com/cdimg/1113840/33010486/0/1373597446/Solid_wood_chair_shell_chair_designer_chair_living_room_chair_leisure_chair.jpg',
              'Title',
              '468357',
              '12 000',
              '/'
            )
          .col-xs-12.col-sm-6.col-md-4.col-lg-3
            +product-card(
              'https://img.diytrade.com/cdimg/1113840/33010486/0/1373597446/Solid_wood_chair_shell_chair_designer_chair_living_room_chair_leisure_chair.jpg',
              'Title',
              '468357',
              '12 000',
              '/'
            )
      +pagination()
        +pagination-item('Первая', '/1')
        +pagination-item('', '/', '', 'prev')
        +pagination-item('3', '/3')
        +pagination-item('4', '/4')
        +pagination-item('5', '/5', true)
        +pagination-item('6', '/6')
        +pagination-item('7', '/7')
        +pagination-item('', '/', '', 'next')
        +pagination-item('Последняя', '/999')


  +text-block('Заголовок')
    p Не следует, однако, забывать, что высокое качество позиционных исследований играет определяющее значение для новых предложений! А еще ключевые особенности структуры проекта будут объединены в целые кластеры себе подобных. Но базовый вектор развития говорит о возможностях новых предложений! Предприниматели в сети интернет, инициированные исключительно синтетически, своевременно верифицированы. Задача организации, в особенности же реализация намеченных плановых заданий создает предпосылки для кластеризации усилий.

  .s-section.s-section--accent
    .container
      h2.s-main-subtitle Популярные товары
      +slick-carousel().s-main-slider
        div: +product-card(
          'https://img.diytrade.com/cdimg/1113840/33010486/0/1373597446/Solid_wood_chair_shell_chair_designer_chair_living_room_chair_leisure_chair.jpg',
          'Title',
          '468357',
          '12 000',
          '/'
        )
        div: +product-card(
          'https://img.diytrade.com/cdimg/1113840/33010486/0/1373597446/Solid_wood_chair_shell_chair_designer_chair_living_room_chair_leisure_chair.jpg',
          'Title',
          '468357',
          '12 000',
          '/'
        )
        div: +product-card(
          'https://img.diytrade.com/cdimg/1113840/33010486/0/1373597446/Solid_wood_chair_shell_chair_designer_chair_living_room_chair_leisure_chair.jpg',
          'Title',
          '468357',
          '12 000',
          '/'
        )
        div: +product-card(
          'https://img.diytrade.com/cdimg/1113840/33010486/0/1373597446/Solid_wood_chair_shell_chair_designer_chair_living_room_chair_leisure_chair.jpg',
          'Title',
          '468357',
          '12 000',
          '/'
        )
        div: +product-card(
          'https://img.diytrade.com/cdimg/1113840/33010486/0/1373597446/Solid_wood_chair_shell_chair_designer_chair_living_room_chair_leisure_chair.jpg',
          'Title',
          '468357',
          '12 000',
          '/'
        )

  +recently-viewed()

block footer
  +page-footer()