extends pug/layout.pug

block meta
  - var title = 'Contacts';
  title= title
  meta(name='description', content='')

block header
  +page-header()

block content
  .s-contacts
    .row
      .col-xs-12.col-sm-6
        .s-contacts__left
          +breadcrumb()
            +breadcrumb-item('Главная', '/index.html')
            +breadcrumb-item(title)
          h2.s-main-subtitle Контакты
          .s-contacts__info
            .s-contacts__address
              ul.s-contacts__address-list
                li.s-contacts__address-item
                  span Адрес
                  | Санкт-Петербург, Невский пр. 115
                li.s-contacts__address-item
                  span Телефон
                  a(href='tel:') + 7 (900) 900-00-00
                li.s-contacts__address-item
                  span E-mail
                  a(href='mailto:') mail@info.ru
                li.s-contacts__address-item
                  span Социальные сети
                  ul.s-contacts__social-list
                    li.s-contacts__social-item
                      a.s-contacts__social-link(href='/', target='_blank', rel='noopener')
                        svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 5 10', width='5', height='10')
                          path(d='M.1596475 5.326h1.08499633v4.51270968c0 .08909677.07145822.16129032.15964749.16129032h1.83965006c.08818928 0 .1596475-.07219355.1596475-.16129032V5.34725806h1.24729397c.08110093 0 .14933427-.06148387.15859383-.14287096l.18943772-1.66135484c.00520451-.04570968-.00913184-.09148387-.03940101-.1257742-.03030109-.03432258-.07366135-.05396774-.11916089-.05396774H3.40365273V2.32187097c0-.31393549.16731058-.47312903.49733389-.47312903h.93936588C4.92854178 1.84874194 5 1.77651613 5 1.68745161V.16248387C5 .0733871 4.92854178.00119355 4.8403525.00119355H3.54577094C3.5366391.00074194 3.51636387 0 3.48647786 0c-.22462403 0-1.00539609.04454839-1.6221463.6177742C1.1809764 1.253 1.27596667 2.01358064 1.29866854 2.1454516v1.21780645H.1596475C.07145822 3.36325806 0 3.43545161 0 3.52454839v1.64012903C0 5.25377419.07145822 5.326.1596475 5.326z', fill-rule='nonzero')

                    li.s-contacts__social-item
                      a.s-contacts__social-link(href='/', target='_blank', rel='noopener')
                        svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 17 10', width='17', height='10')
                          path(d='M16.6420381 9.03109761c-.020259-.04573887-.0391451-.0836788-.0566887-.1140755-.2902778-.54768382-.8449911-1.21992695-1.6638041-2.01692118l-.0172995-.0182508-.008665-.0089496-.0087566-.00917335h-.008787c-.3716191-.37112091-.6069474-.62065506-.7054967-.74841066-.1803176-.24336531-.2207137-.48970317-.1221644-.73930124.0696252-.18858095.3311621-.58683834.7840004-1.19531554.2381963-.32247342.4268433-.58092521.5661547-.77564303 1.0047446-1.39933456 1.4403445-2.29352788 1.3067081-2.68293156l-.0518986-.0909983C16.6204671.5763425 16.5304608.52622472 16.385444.4805178c-.1453525-.04561102-.3311316-.05315426-.5576728-.02275757l-2.5087037.01815492c-.0406401-.01508648-.0986713-.01368011-.1742766.00460265-.0755137.01828276-.1132858.0274561-.1132858.0274561l-.0436607.02285346-.0346601.0274561c-.029046.01815492-.0609906.05008583-.0958643.09572881-.0346905.04548317-.0637061.09886117-.0868942.15968651-.2731309.73613692-.5836678 1.42055791-.9321904 2.05323101-.2148861.37725778-.4122287.70420601-.5924548.98103644-.1799821.27673455-.330979.48062572-.4528384.6113219-.1220424.13082404-.2321856.2356303-.331101.31480234-.0987628.07920399-.1741545.11266912-.2263582.10042734-.0523257-.01224178-.1016003-.02438767-.148251-.03653356-.0812497-.05478437-.14660343-.12928982-.19587805-.2235803-.04948819-.09429047-.08280577-.21296861-.10022732-.35593854-.01733002-.14306582-.02758159-.26612288-.0305106-.3695867-.00271545-.10333597-.00146451-.24950218.00442403-.43808313.0060411-.18867684.00875655-.31633655.00875655-.3832668 0-.23121942.00430199-.48215994.01293649-.75288547.00878705-.27072553.01589602-.48522836.02184559-.64325281.00591906-.15818425.00866501-.32554185.00866501-.50197691 0-.17643506-.01025156-.31480233-.0305106-.41522968-.02001495-.10029949-.05073913-.1976584-.0912267-.29204476-.04073165-.09429048-.10034937-.16722975-.17857855-.2190096-.07838173-.05171593-.1758326-.09275626-.29180339-.12324884C8.917303.04690947 8.5253333.00743532 8.0490323.00129845 6.9689265-.01084744 6.27490184.0622197 5.96711089.22040395c-.12195087.06683436-.23230772.15815229-.330979.2736661-.10455983.13389248-.1191439.2069596-.04366067.21897765.34849209.05468847.59520081.1855125.74040077.39234426l.05232568.10960069c.04070114.07907614.08134126.21907353.12201189.41980036.04060961.20072684.06681822.42277292.07835123.66601038.02898507.44418804.02898507.82441837 0 1.14072296-.02907661.31643244-.05653615.56277029-.08274475.73920535-.02620861.17643506-.06538422.31940499-.11761837.42887782-.05232568.10950481-.08713828.17643506-.10459034.20072684-.01742156.02429179-.0319446.039602-.04347761.04561102-.07548323.03030081-.15398701.04573887-.23523674.04573887-.08137177 0-.18004306-.04263847-.29616641-.12785149-.11609284-.08521302-.2365792-.20226105-.3614591-.35133589-.12487989-.1491068-.26571682-.35747277-.42257183-.62512986-.15673296-.2676571-.31935446-.58399365-.48777298-.94900965l-.13934192-.26471651c-.08710777-.17029819-.20609911-.41826615-.35709608-.74368016-.1510885-.32554185-.2846334-.64044007-.40072624-.94463073-.04640663-.1277556-.11612335-.22501862-.20902813-.29194888l-.04359965-.0274561C3.25514557.55163518 3.2086169.52584114 3.14478872.49835307 3.08086901.47089698 3.01417284.45120784 2.9444256.43909392L.55761175.45724882c-.24390174 0-.40939125.05788477-.49652953.17349448L.02620861.68543177C.00878705.7158924 0 .7645399 0 .8315021c0 .06693026.01742155.14907484.05229517.24633786.34843107.8578835.72734223 1.68524246 1.13673348 2.48220472.40939125.79696226.76514487 1.43893656 1.06704727 1.92534755.30196342.48676259.60975437.94616495.92337284 1.37798336.31361848.43197822.52121261.70880866.6227824.83042739.10169184.12184247.18156859.21293666.23963027.27376201l.21781518.21897764c.13937243.14603836.34403754.3209392.61408688.52470251.27011035.20389116.56914476.404618.89725577.60250015.32817203.19756251.70995119.35878324 1.14555104.48347041.43553884.12481501.85945314.17490084 1.27180392.1507369h1.00178509c.20317009-.01837865.35709608-.0853089.46171693-.20082272l.03466004-.04573887c.0233101-.03630983.04512518-.0927243.06526218-.16863612.02038108-.07603967.0305106-.15981436.0305106-.25094051-.00594956-.26155219.01305854-.49727837.05650564-.70714659.04341658-.2098043.09290478-.36798855.14825101-.47452081.05531569-.10643636.11774039-.19625204.18721309-.26906346.0696252-.07297124.1192354-.11717589.1483425-.13239022.0289241-.01531021.0520206-.02569815.0694421-.03193091.1393725-.04864749.3033975-.00153422.4923191.14156356.1887691.14296993.3658221.31950088.5314337.52930517.16552.20999608.3643881.44559441.5966348.7071466.2323992.26164807.4355998.45614215.6097543.58408953l.1741546.1095048c.1163064.07306713.2673033.13999738.4531739.20082273.185535.06079338.3480955.07600772.4876815.04561102l2.2299283-.03643768c.2205611 0 .3921833-.03825956.5139206-.11417138.1219814-.07603967.194444-.15981436.2178152-.25094051.0233101-.09122204.024561-.19471782.004424-.31042342-.0206557-.11541793-.0410062-.19612418-.0612653-.2417352z', fill='#3B3B3B', fill-rule='nonzero')

                    li.s-contacts__social-item
                      a.s-contacts__social-link(href='/', target='_blank', rel='noopener')
                        svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 10 10', width='10', height='10')
                          path(d='M9.62251502.37766569C9.37076715.12585056 9.06908016 0 8.71761369 0H1.28261435C.93103385 0 .62943808.12589616.3776218.37766569.12585113.6293668 0 .9310068 0 1.28251728v7.43489703c0 .35146487.12582833.65317328.3776218.9048972C.62943808 9.87405823.93110226 10 1.28261435 10h7.43490812c.35139807 0 .65317627-.12594177.90492414-.37768849C9.87426288 9.37058759 10 9.06887918 10 8.71741431V1.28251728c-.0000228-.35157889-.12573712-.65305926-.37748498-.9048516zm-6.03189263 3.2258013c.39276316-.37971797.86479042-.56966817 1.41601336-.56966817.55548714 0 1.0296351.1899502 1.42248947.56966817.39285438.37978638.58916755.83881369.58916755 1.37699071 0 .53810862-.19631317.99715873-.58916755 1.3768311-.39285437.37987759-.86684271.56980498-1.42248947.56980498-.55120014 0-1.02318179-.19008701-1.41601336-.56980498-.39285437-.37971797-.58925876-.83872248-.58925876-1.3768311 0-.53817702.19640439-.99718153.58925876-1.37699071zm5.27674023 4.84712772c0 .11276155-.03917598.20712096-.1172315.28312384-.07828356.07593448-.17145763.11392452-.28006951.11392452H1.51051002c-.11283048 0-.20730434-.03799004-.28319355-.11392452-.07600323-.07584326-.11397064-.17036229-.11397064-.28312384V4.23169364h.91794479c-.08676636.27347811-.13016095.55781053-.13016095.85288322 0 .83352336.30378489 1.54411497.91142306 2.1323449.60770659.5880019 1.33902959.88213966 2.19406021.88213966.5642436 0 1.085047-.13460696 1.56263825-.40368407.47743162-.26923674.85480259-.63481676 1.13277419-1.09710492.27781199-.46226535.41670658-.96685334.41670658-1.51367276 0-.2950727-.04355421-.5793367-.13032057-.85288323l.87899684-.0000228v4.21892387h-.00004561v-.0000228zm0-5.81395827c0 .12587337-.04339458.23222723-.13034337.319016-.08676636.08685718-.19305231.13022876-.31899465.13022876H7.2852504c-.12580552 0-.23225109-.04339438-.31901745-.13022876-.08678917-.08678877-.13016095-.19314263-.13016095-.319016V1.5625171c0-.12154076.04337178-.22677727.13016095-.31577795.08678916-.08895507.19323473-.13348961.31901745-.13348961h1.1327742c.12594234 0 .23225109.04451174.31899465.13348961.08692599.08900068.13034337.19423719.13034337.31577795v1.07411934z', fill='#3B3B3B', fill-rule='nonzero')

            .s-contacts__requisites
              ul.s-contacts__requisites-list
                li.s-contacts__requisites-item
                  span Название:
                  |  ООО Компания
                li.s-contacts__requisites-item
                  span Адрес:
                  |  Санкт-Петербург, Невский пр. 115
                li.s-contacts__requisites-item
                  span Инн:
                  |  7707083893
                li.s-contacts__requisites-item
                  span КПП:
                  |  773643001
                li.s-contacts__requisites-item
                  span Огрн:
                  |  1027800556189
                li.s-contacts__requisites-item
                  span Расчётный счёт:
                  |  40702810612000002846 Филиал ОПЕРУ-5 Банка ВТБ (ПАО) в г. Санкт-Петербурге
                li.s-contacts__requisites-item
                  span Бик:
                  |  044030704
                li.s-contacts__requisites-item
                  span Кор счёт:
                  |  30101810200000000704

      .s-contacts__map.col-xs-12.col-sm-6
        .s-map#map

block footer
  +page-footer()