extends pug/layout.pug

block meta
  - var title = 'Gallery';
  title= title
  meta(name='description', content='')

block header
  +page-header()

block content

  .s-gallery
    .container

      +breadcrumb()
        +breadcrumb-item('Главная', '/index.html')
        +breadcrumb-item(title)

      .row
        .col-xs-12.col-sm-4
          img(src='https://78.media.tumblr.com/72be430dd5aca3a51b6e3a860f06265a/tumblr_p9yfokxOIE1qze888o1_640.jpg', alt='')
        .col-xs-12.col-sm-4
          img(src='https://78.media.tumblr.com/72be430dd5aca3a51b6e3a860f06265a/tumblr_p9yfokxOIE1qze888o1_640.jpg', alt='')
        .col-xs-12.col-sm-4
          img(src='https://78.media.tumblr.com/72be430dd5aca3a51b6e3a860f06265a/tumblr_p9yfokxOIE1qze888o1_640.jpg', alt='')
      .row
        .col-xs-12.col-sm-6
          img(src='https://78.media.tumblr.com/df84c394d985dfcb12268a8f82028c71/tumblr_otmvmowWiH1qze888o1_1280.jpg', alt='')
        .col-xs-12.col-sm-6
          img(src='https://78.media.tumblr.com/df84c394d985dfcb12268a8f82028c71/tumblr_otmvmowWiH1qze888o1_1280.jpg', alt='')
      .row
        .col-xs-12.col-sm-4
          img(src='https://78.media.tumblr.com/5b06185b51736321f6323d347584a1d6/tumblr_p6d9e9zdbz1wetuhpo1_1280.jpg', alt='')
        .col-xs-12.col-sm-4
          img(src='https://78.media.tumblr.com/5b06185b51736321f6323d347584a1d6/tumblr_p6d9e9zdbz1wetuhpo1_1280.jpg', alt='')
        .col-xs-12.col-sm-4
          img(src='https://78.media.tumblr.com/5b06185b51736321f6323d347584a1d6/tumblr_p6d9e9zdbz1wetuhpo1_1280.jpg', alt='')

  +text-block('Какой-то текст с заголовком')
    p Не следует, однако, забывать, что высокое качество позиционных исследований играет определяющее значение для новых предложений! А еще ключевые особенности структуры проекта будут объединены в целые кластеры себе подобных. Но базовый вектор развития говорит о возможностях новых предложений! Предприниматели в сети интернет, инициированные исключительно синтетически, своевременно верифицированы. Задача организации, в особенности же реализация намеченных плановых заданий создает предпосылки для кластеризации усилий.
    +label('Label', '', 'a')(href='/')
    +label('Label', '', 'a')(href='/')
    +label('Label', '', 'a')(href='/')
    +label('Label', '', 'a')(href='/')

block footer
  +page-footer()