extends pug/layout.pug

block meta
  - var title = 'Gallery Item';
  title= title
  meta(name='description', content='')

block header
  +page-header()

block content

  .s-gallery-item
    .container
      +breadcrumb()
        +breadcrumb-item('Главная', '/index.html')
        +breadcrumb-item('Фотобанк', '/gallery.html')
        +breadcrumb-item(title)

      .s-section
        h2.s-main-subtitle Название

        .row
          .col-xs-12.col-sm-10.col-md-7
            +slick-carousel().s-main-gallery.slider-for
              div
                img(src='https://images.unsplash.com/photo-1496715976403-7e36dc43f17b?ixlib=rb-0.3.5&s=0d64e651b3d3236851acd0335720dcbd&auto=format&fit=crop&w=1500&q=80')
              div
                img(src='https://images.unsplash.com/photo-1484820986637-7ec3e85b394f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f713c613d0eff8ea1860b97f08ebb176&auto=format&fit=crop&w=1520&q=80')
              div
                img(src='https://images.unsplash.com/photo-1485163819542-13adeb5e0068?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=14688ccc7006bee2028e32e2ac3c4f70&auto=format&fit=crop&w=668&q=80')
              div
                img(src='https://images.unsplash.com/photo-1496715976403-7e36dc43f17b?ixlib=rb-0.3.5&s=0d64e651b3d3236851acd0335720dcbd&auto=format&fit=crop&w=1500&q=80')
              div
                img(src='https://images.unsplash.com/photo-1484820986637-7ec3e85b394f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f713c613d0eff8ea1860b97f08ebb176&auto=format&fit=crop&w=1520&q=80')
              div
                img(src='https://images.unsplash.com/photo-1485163819542-13adeb5e0068?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=14688ccc7006bee2028e32e2ac3c4f70&auto=format&fit=crop&w=668&q=80')
            +slick-carousel().s-main-gallery.slider-nav
              div
                img(src='https://images.unsplash.com/photo-1496715976403-7e36dc43f17b?ixlib=rb-0.3.5&s=0d64e651b3d3236851acd0335720dcbd&auto=format&fit=crop&w=1500&q=80')
              div
                img(src='https://images.unsplash.com/photo-1484820986637-7ec3e85b394f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f713c613d0eff8ea1860b97f08ebb176&auto=format&fit=crop&w=1520&q=80')
              div
                img(src='https://images.unsplash.com/photo-1485163819542-13adeb5e0068?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=14688ccc7006bee2028e32e2ac3c4f70&auto=format&fit=crop&w=668&q=80')
              div
                img(src='https://images.unsplash.com/photo-1496715976403-7e36dc43f17b?ixlib=rb-0.3.5&s=0d64e651b3d3236851acd0335720dcbd&auto=format&fit=crop&w=1500&q=80')
              div
                img(src='https://images.unsplash.com/photo-1484820986637-7ec3e85b394f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f713c613d0eff8ea1860b97f08ebb176&auto=format&fit=crop&w=1520&q=80')
              div
                img(src='https://images.unsplash.com/photo-1485163819542-13adeb5e0068?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=14688ccc7006bee2028e32e2ac3c4f70&auto=format&fit=crop&w=668&q=80')

          .col-xs-12.col-sm-2.col-md-1
            +share()

          .col-xs-12.col-sm-12.col-md-4
            +form()
              +field-text({
                title: 'Имя',
                attrs: {
                  placeholder: 'Text'
                }
              })
              +field-text({
                title: 'Телефон',
                attrs: {
                  placeholder: 'Text'
                }
              })
              +field-text({
                title: 'E-mail',
                attrs: {
                  placeholder: 'Text'
                }
              })
              +field-text({
                title: 'Дополнительная информация',
                isTextarea: true,
                attrs: {
                  placeholder: 'Text'
                }
              })
              +field-actions()
                +btn('Задать вопрос')

        p Не следует, однако, забывать, что высокое качество позиционных исследований играет определяющее значение для новых предложений! А еще ключевые особенности структуры проекта будут объединены в целые кластеры себе подобных. Но базовый вектор развития говорит о возможностях новых предложений.

  .s-section.s-section--accent
    .container
      h2.s-main-subtitle Часто приобретаемые
      +slick-carousel().s-main-slider
        div: +short-card(
          'Product',
          '468357',
          'https://78.media.tumblr.com/72be430dd5aca3a51b6e3a860f06265a/tumblr_p9yfokxOIE1qze888o1_640.jpg',
          '/'
        )
        div: +short-card(
          'Product',
          '468357',
          'https://78.media.tumblr.com/72be430dd5aca3a51b6e3a860f06265a/tumblr_p9yfokxOIE1qze888o1_640.jpg',
          '/'
        )
        div: +short-card(
          'Product',
          '468357',
          'https://78.media.tumblr.com/72be430dd5aca3a51b6e3a860f06265a/tumblr_p9yfokxOIE1qze888o1_640.jpg',
          '/'
        )
        div: +short-card(
          'Product',
          '468357',
          'https://78.media.tumblr.com/72be430dd5aca3a51b6e3a860f06265a/tumblr_p9yfokxOIE1qze888o1_640.jpg',
          '/'
        )
        div: +short-card(
          'Product',
          '468357',
          'https://78.media.tumblr.com/72be430dd5aca3a51b6e3a860f06265a/tumblr_p9yfokxOIE1qze888o1_640.jpg',
          '/'
        )
      +label('Label', '', 'a')(href='/')
      +label('Label', '', 'a')(href='/')
      +label('Label', '', 'a')(href='/')
      +label('Label', '', 'a')(href='/')

block footer
  +page-footer()