extends pug/layout.pug

block meta
  - var title = 'Main';
  title= title
  meta(name='description', content='')

block header
  +page-header()

block content
  +promo()
  +our-production()
  +news-preview()
  +text-block('О компании')
    p Не следует, однако, забывать, что высокое качество позиционных исследований играет определяющее значение для новых предложений! А еще ключевые особенности структуры проекта будут объединены в целые кластеры себе подобных. Но базовый вектор развития говорит о возможностях новых предложений! Предприниматели в сети интернет, инициированные исключительно синтетически, своевременно верифицированы. Задача организации, в особенности же реализация намеченных плановых заданий создает предпосылки для кластеризации усилий.

block footer
  +page-footer()