extends pug/layout.pug

block meta
  - var title = 'News Item';
  title= title
  meta(name='description', content='')

block header
  +page-header()

block content
  section.s-news-item
    .container
      .s-news-item__cover
        img(src='https://images.unsplash.com/photo-1470218091926-22a08a325802?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=75b8e0042fdd5e417ea5a3dd2151633b&auto=format&fit=crop&w=1791&q=80', alt='')
      +breadcrumb()
        +breadcrumb-item('Главная', '/index.html')
        +breadcrumb-item('Новости', '/news-list.html')
        +breadcrumb-item(title)
      .s-news-item__header
        h2.s-news-item__title.s-main-subtitle Новость
        time.s-news-item__date(datetime='2018-07-10T00:00') 10 july 2018
      .s-news-item__content
        p Не следует, однако, забывать, что высокое качество позиционных исследований играет определяющее значение для новых предложений! А еще ключевые особенности структуры проекта будут объединены в целые кластеры себе подобных. Но базовый вектор развития говорит о возможностях новых предложений! Предприниматели в сети интернет, инициированные исключительно синтетически, своевременно верифицированы. Задача организации, в особенности же реализация намеченных плановых заданий создает предпосылки для кластеризации усилий.
        p Не следует, однако, забывать, что высокое качество позиционных исследований играет определяющее значение для новых предложений! А еще ключевые особенности структуры проекта будут объединены в целые кластеры себе подобных. Но базовый вектор развития говорит о возможностях новых предложений! Предприниматели в сети интернет, инициированные исключительно синтетически, своевременно верифицированы. Задача организации, в особенности же реализация намеченных плановых заданий создает предпосылки для кластеризации усилий.
        p Не следует, однако, забывать, что высокое качество позиционных исследований играет определяющее значение для новых предложений! А еще ключевые особенности структуры проекта будут объединены в целые кластеры себе подобных. Но базовый вектор развития говорит о возможностях новых предложений! Предприниматели в сети интернет, инициированные исключительно синтетически, своевременно верифицированы. Задача организации, в особенности же реализация намеченных плановых заданий создает предпосылки для кластеризации усилий.
      +label('Label', '', 'a')(href='/')
      +label('Label', '', 'a')(href='/')
      +label('Label', '', 'a')(href='/')
      +label('Label', '', 'a')(href='/')

block footer
  +page-footer()