extends pug/layout.pug

block meta
  - var title = 'News List';
  title= title
  meta(name='description', content='')

block header
  +page-header()

block content
  +news-list()

block footer
  +page-footer()