extends pug/layout.pug

block meta
  - var title = 'Shopping Basket';
  title= title
  meta(name='description', content='')

block header
  +page-header()

block content
  section.s-shopping-basket
    .container

      +breadcrumb()
        +breadcrumb-item('Главная', '/index.html')
        +breadcrumb-item(title)

      .s-main-subtitle Корзина

      +table()
        thead
          tr
            th Название (артикул)
            th Количество
            th Цена
            th Сумма
        tbody
          tr
            td
              .s-shopping-basket__product-cover
                img(src='https://img.diytrade.com/cdimg/1113840/33010486/0/1373597446/Solid_wood_chair_shell_chair_designer_chair_living_room_chair_leisure_chair.jpg', alt='')
              .s-shopping-basket__product-name Название товара
                .s-shopping-basket__product-vendor-code Артикул 001
            td
              button.s-shopping-basket__amount-minus -
              .s-shopping-basket__amount 10
              button.s-shopping-basket__amount-plus +
            td
              .s-shopping-basket__price 2 000 руб.
            td
              .s-shopping-basket__price-total 20 000 руб.
          tr
            td
              .s-shopping-basket__product-cover
                img(src='https://img.diytrade.com/cdimg/1113840/33010486/0/1373597446/Solid_wood_chair_shell_chair_designer_chair_living_room_chair_leisure_chair.jpg', alt='')
              .s-shopping-basket__product-name Название товара
                .s-shopping-basket__product-vendor-code Артикул 001
            td
              button.s-shopping-basket__amount-minus -
              .s-shopping-basket__amount 10
              button.s-shopping-basket__amount-plus +
            td
              .s-shopping-basket__price 2 000 руб.
            td
              .s-shopping-basket__price-total 20 000 руб.
          tr
            td
              .s-shopping-basket__product-cover
                img(src='https://img.diytrade.com/cdimg/1113840/33010486/0/1373597446/Solid_wood_chair_shell_chair_designer_chair_living_room_chair_leisure_chair.jpg', alt='')
              .s-shopping-basket__product-name Название товара
                .s-shopping-basket__product-vendor-code Артикул 001
            td
              button.s-shopping-basket__amount-minus -
              .s-shopping-basket__amount 10
              button.s-shopping-basket__amount-plus +
            td
              .s-shopping-basket__price 2 000 руб.
            td
              .s-shopping-basket__price-total 20 000 руб.
        tfoot
          tr
            td(colspan='4')
              .s-shopping-basket__total
                | сумма:
                span 8 000
                | руб.

      h2.s-main-subtitle Заполните форму ниже, чтобы оформить заказ
      +form()
        .row
          .col-xs-12.col-md-6.s-form__info
            .row
              .col-xs-12.col-sm-6
                +field-text({
                  title: 'Имя',
                  attrs: {
                    placeholder: 'Text'
                  }
                })
                +field-text({
                  title: 'Телефон',
                  attrs: {
                    placeholder: 'Text'
                  }
                })
              .col-xs-12.col-sm-6
                +field-text({
                  title: 'Фамилия',
                  attrs: {
                    placeholder: 'Text'
                  }
                })
                +field-text({
                  title: 'E-mail',
                  attrs: {
                    placeholder: 'Text'
                  }
                })
              .col-xs-12
                +field-text({
                  title: 'Адрес доставки',
                  attrs: {
                    placeholder: 'Text'
                  }
                })
                +field-text({
                  title: 'Комментарий к заказу',
                  isTextarea: true,
                  attrs: {
                    placeholder: 'Text'
                  }
                })

          .col-xs-12.col-md-3.s-form__delivery
            +field-radio([
              {
                title: 'Самовывоз',
                helpText: 'Невский пр. 115',
                mods: '',
                attrs: {
                  name: 'radio',
                  checked: true,
                }
              },
              {
                title: 'Курьер',
                helpText: 'Завтра, от 300 руб.',
                mods: '',
                attrs: {
                  name: 'radio',
                }
              },
              {
                title: 'EMS Почта',
                helpText: '20 апреля, от 200 руб.',
                mods: '',
                attrs: {
                  name: 'radio',
                }
              },
              {
                title: 'Почта России',
                helpText: '30 апреля, от 300 руб.',
                mods: '',
                attrs: {
                  name: 'radio',
                }
              }
            ], 'Доставка')

          .col-xs-12.col-md-3.s-form__payment
            +field-radio([
              {
                title: 'Наличными при получении',
                mods: '',
                attrs: {
                  name: 'radio',
                  checked: true,
                }
              },
              {
                title: 'Банковской картой',
                mods: '',
                attrs: {
                  name: 'radio',
                }
              }
            ], 'Способ оплаты')

          .col-xs-12
            p.s-shopping-basket__total-final Общая сумма заказа: 8 400 руб

            +field-actions()
              +btn('Оформить заказ')
            +field-checkbox([
              {
                title: 'Нажимая кнопку, вы даете согласие на обработку персональных данных',
                helpText: 'Хочу получать рассылку о маркетри и выгодные предложения',
                attrs: {
                  name: 'check0',
                }
              },
            ])

block footer
  +page-footer()