extends pug/layout.pug

block meta
  - var title = 'Testimonials';
  title= title
  meta(name='description', content='')

block header
  +page-header()

block content
  section.s-testimonial-list
    .container

      +breadcrumb()
        +breadcrumb-item('Главная', '/index.html')
        +breadcrumb-item(title)

      h2.s-main-subtitle Отзывы

      .s-testimonial-list__main-content

        +testimonial-card(
          'Татьяна Иванова',
          '10 июля 2018',
          'Качество отличное, покупкой более чем довольна. Буду обращаться еще и еще. Отдельное спасибо Виктору, который…',
          '/'
        )
        +testimonial-card(
          'Татьяна Иванова',
          '10 июля 2018',
          'Качество отличное, покупкой более чем довольна. Буду обращаться еще и еще. Отдельное спасибо Виктору, который…',
          '/'
        )
        +testimonial-card(
          'Татьяна Иванова',
          '10 июля 2018',
          'Качество отличное, покупкой более чем довольна. Буду обращаться еще и еще. Отдельное спасибо Виктору, который…',
          '/'
        )
        +testimonial-card(
          'Татьяна Иванова',
          '10 июля 2018',
          'Качество отличное, покупкой более чем довольна. Буду обращаться еще и еще. Отдельное спасибо Виктору, который…',
          '/'
        )

      +pagination()
        +pagination-item('Первая', '/1')
        +pagination-item('', '/', '', 'prev')
        +pagination-item('3', '/3')
        +pagination-item('4', '/4')
        +pagination-item('5', '/5', true)
        +pagination-item('6', '/6')
        +pagination-item('7', '/7')
        +pagination-item('', '/', '', 'next')
        +pagination-item('Последняя', '/999')

block footer
  +page-footer()