@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans-300-italic.woff2') format('woff2'),
       url('../fonts/opensans-300-italic.woff') format('woff'),
       url('../fonts/opensans-300-italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: optional;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans-400-normal.woff2') format('woff2'),
       url('../fonts/opensans-400-normal.woff') format('woff'),
       url('../fonts/opensans-400-normal.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans-600-normal.woff2') format('woff2'),
       url('../fonts/opensans-600-normal.woff') format('woff'),
       url('../fonts/opensans-600-normal.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans-700-normal.woff2') format('woff2'),
       url('../fonts/opensans-700-normal.woff') format('woff'),
       url('../fonts/opensans-700-normal.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans-800-normal.woff2') format('woff2'),
       url('../fonts/opensans-800-normal.woff') format('woff'),
       url('../fonts/opensans-800-normal.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: optional;
}