// Width

$screen-xs:                   480px;
$screen-sm:                   768px;
$screen-md:                   992px;
$screen-lg:                   1200px;
$screen-xl:                   1440px;
$screen-xxl:                  1920px;


// Colors

$black:                       hsl(0, 0%, 0%);
$gray-darkest:                hsl(0, 0%, 15%);
$gray-darker:                 hsl(0, 0%, 20%);
$gray-darken:                 hsl(0, 0%, 30%);
$gray-dark:                   hsl(0, 0%, 40%);
$gray:                        hsl(0, 0%, 50%);
$gray-light:                  hsl(0, 0%, 60%);
$gray-lighten:                hsl(0, 0%, 70%);
$gray-lighter:                hsl(0, 0%, 85%);
$gray-lightest:               hsl(0, 0%, 97%);
$white:                       hsl(0, 0%, 100%);

$text-color:                  #2a2a2a;
$text-color--lighter:         #7a7b7b;
$text-color--lightest:        $white;

$bg-color--default:           $white;
$bg-color--lighter:           #f3f4f6;
$bg-color--darker:            #282828;

$accent-color-main:           #d32f2f;

// $nav-link-color:              ;
// $nav-link-color-hover:        ;

$button-main-color:           $white;
$button-main-bg-color:        #4caf50;
$button-main-bg-hover:        #3f9142;

$border-color:                #d3d3d3;
$border-radius:               2px;

$opacity:                     0.5;
// $box-shadow:                  ;
