.s-news-item {
  padding-bottom: 2rem;

  &__cover {
    height: 16rem;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__header {
    margin-bottom: 1rem;
  }

  &__title {
    margin-bottom: 0.25rem;
  }

  &__date {
    font-size: 9px;
    color: $text-color--lighter;
    display: block;
  }
}