.s-main-gallery {

  &.slider-for {

    .slick-slide {
      height: 20rem;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }

  &.slider-nav {

    .slick-slide {
      height: 5rem;
      padding: 0.25rem;
      cursor: pointer;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
}