mixin search-form()

  //- Use
    +search-form()

  form.s-search-form
    input(type='search', placeholder='Поиск по каталогу (введите артикул)')
    button(type='submit', value='Найти')
      svg(width='16' height='16'): use(xlink:href='#search-icon')