$form-height:         2rem;

.s-search-form {
  width: 100%;
  position: relative;
  height: $form-height;
  color: $text-color--lighter;

  [type='search'] {
    width: 100%;
    height: 100%;
    border: 0;
    background-color: $bg-color--default;
    color: currentColor;
    font-size: $font-size--small;
    padding: 0.45rem 2rem 0.55rem 1rem;
    box-shadow:
        0 0 0 1px rgba(#b8b8b8, 0),
        0 0 4px 0 rgba(117,115,115,0.50);
    border-radius: $form-height;
    transition: all 250ms ease-out 0s;

    &::placeholder {
      color: $text-color--lighter;
    }

    &:hover,
    &:focus {
      box-shadow:
        0 0 0 1px rgba(#b8b8b8, 1),
        0 0 4px 0 rgba(117,115,115,0.50);
    }
  }

  [type='submit'] {
    position: absolute;
    width: 3rem;
    top: 0;
    right: 0;
    height: 100%;
    border: 0;
    color: currentColor;
    font-size: $font-size--small;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.025em;
    padding: 0.5rem;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    cursor: pointer;

    svg {
      position: relative;
      top: -0.075rem;
      fill: currentColor;
      transition: all 100ms ease-in-out 0s;
    }

    &:hover {

      svg {
        fill: $accent-color-main;
        transform: scale(1.1);
      }
    }
  }

  &__results {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 400px;
    background-color: $bg-color--default;
    z-index: 999;
  }
}