.s-form {

  &__fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__legend {
    display: block;
    width: 100%;
    max-width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 700;
    white-space: normal;
    color: currentColor;
  }

  &__info {
    margin-bottom: 1.5rem;
  }

  &__delivery,
  &__payment {

    @media (min-width: $screen-md) {
      border-left: 1px solid $border-color;
      padding-left: 2rem;
    }
  }
}