mixin form(mods)

  //- Param:
    mods    {string} - modifiers

  //- Use:
    +form()
      +fieldset('Name')
        +field-text({
          helpText: 'Text',
          attrs: {
            placeholder: 'Text'
          }
        })
        +field-text({
          helpText: 'Text',
          attrs: {
            placeholder: 'Text'
          }
        })

  -
    // список модификаторов
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-form--' + modsList[i].trim();
      }
    }

  form.s-form(class=allMods)&attributes(attributes)
    block



mixin fieldset(legend, mods)

  //- Param:
    legend  {string} - group name

  //- Use:
    +fieldset('Name')
      +field-text({
        helpText: 'Text',
        attrs: {
          placeholder: 'Text'
        }
      })

  fieldset.s-form__fieldset&attributes(attributes)
    legend.s-form__legend!= legend
    block
