.s-fields-group {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 1rem;

  .btn,
  select,
  input {
    position: relative;
    margin: 0;

    // &:hover,
    &:focus {
      position: relative;
      z-index: 1;             // фокус должен быть красивым
    }
  }

  .field-actions,
  .field-select,
  .field-text {
    margin: 0;
  }

  .field-actions {

    &:not(:last-child) .btn {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:not(:first-child) .btn {
      border-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    .btn {

      // &:hover,
      &:focus {
        z-index: 1;
      }
    }
  }

  .field-text {

    &:not(:last-child) .field-text__input {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:not(:first-child) .field-text__input {
      border-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .field-select {

    &:not(:last-child) .field-select__select {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:not(:first-child) .field-select__select {
      border-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
