mixin fields-group(mods)

  //- Param:
    mods    {string} - modifiers

  //- Usage:
    +fields-group()
      +field-text()
      +field-text()
      +field-actions()

  -
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' fields-group--' + modsList[i].trim();
      }
    }

  .s-fields-group(class=allMods)&attributes(attributes)
    block
