$hamburger-width:         30px;
$hamburger-height:        30px;
$hamburger-radius:        $hamburger-width / 2;
$hamburger-color:         $accent-color-main;

.s-hamburger {
  width: $hamburger-width;
  height: $hamburger-height;
  padding: 0;
  border-radius: $hamburger-radius;
  border: 1px solid $hamburger-color;
  position: relative;
  cursor: pointer;
  margin-left: 0.5rem;

  span {
    display: inline-block;
    width: $hamburger-width / 2;
    height: 2px;
    background-color: $hamburger-color;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate3d(-50%,-20%,0);

    &::before {
      position: absolute;
      content: '';
      display: block;
      width: $hamburger-width / 2;
      height: 2px;
      top: -5px;
      left: 0;
      background-color: inherit;
    }
  }
}